[Unit]
Description=Test application 19_1

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/system/usr/lib:$LD_LIBRARY_PATH"
ExecStart=/system/usr/bin/wdg_test_FT/test_01 19
Restart=no
SuccessExitStatus=255 SIGABRT

StandardOutput=journal
StandardError=journal