[Unit]
Description=Test application 19_3

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/system/usr/lib:$LD_LIBRARY_PATH"
ExecStart=/system/usr/bin/wdg_test_FT/test_04 19
Restart=always

StandardOutput=journal
StandardError=journal