[Unit]
Description=Test application 05

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/system/usr/lib:$LD_LIBRARY_PATH"
ExecStart=/system/usr/bin/wdg_test_FT/test_05 5 10
WatchdogSec=1
Restart=always

StandardOutput=journal
StandardError=journal