* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: beige;
}

#title {
	font-size: x-large;
	text-align: center;
	text-shadow: 3px 2px 4px #969696;
}

#utr-table {
	background-color: #F1ECEC;
	width: 80%;
	position: relative;
	top: 30px;
	left: 10%;
}

.header {
	width: 100%;
}

.header-cont {
	height: 50px;
	border-left: 2px solid;
	float: left;
	background-color: dodgerblue;
	color: white;
}

.header-cont p, .row-cont p {
	width: 100%;
	text-align: center;
}

.row-cont {
	height: 40px;
	border-left: 2px solid white;
	padding: 0 2px;
	float: left;
	background-color: yellow;
	color: black;
}

.row {
	margin-bottom: 4px;
}

.pass {
	background-color: #85F985;
}

.fail {
	color: white;
	background-color: red;
}

.avg {
	background-color: yellow;
}

.stat {
	color: white;
	background-color: #027D8A;
}

.invalid {
	color: white;
	background-color: #B7B7B7;
}
