
[VMF_DI]
; connection to PC 192.168.0.5
device_type=TCP
local_port=42130		          ; local listening port
local_groups=1-119,126-250	      ; vmf-groups comma separated
remote_ip=192.168.0.5 	          ; ip address of remote-vmf mi server
remote_port=42131	              ; port of remote-vmf mi server (vmf messages are send to that ; ip and port)
