 /*============================================================================
 **                                                                            
 **                     CONFIDENTIAL VISTEON CORPORATION                       
 **                                                                            
 ** This is an unpublished work of authorship, which contains trade secrets,   
 ** created in 2022. Visteon Corporation owns all rights to this work and      
 ** intends to maintain it in confidence to preserve its trade secret status.  
 ** Visteon Corporation reserves the right, under the copyright laws of the    
 ** United States or those of any other country that may have jurisdiction,    
 ** to protect this work as an unpublished work, in the event of an            
 ** inadvertent or deliberate unauthorized publication. Visteon Corporation    
 ** also reserves its rights under all copyright laws to protect this work as  
 ** a published work, when appropriate. Those having access to this work may   
 ** not copy it, use it, modify it or disclose the information contained in    
 ** it without the written authorization of Visteon Corporation.               
 **                                                                            
 **============================================================================
 **                                                                            
 ** Name:           Mdl_speed_table_config.cfg                         
 **                                                                            
 ** Description:    Header file for Mdl_Speed           
 **                                                                            
 ** Organization:   Driver Information Software Section,                       
 **                                                                            
 **==========================================================================*/
/* ===========================================================================
  DEFINE   VALUE                                                              
 =========================================================================*/  
#ifndef MDL_SPEED_TABLE_CONFIG_CFG
#define MDL_SPEED_TABLE_CONFIG_CFG
#define MAX_TABLE_SIZE  18
#define MAX_TABLE_OUT	2

/* ===========================================================================
  Speed lookup table for US region
 =========================================================================*/  
static uint16_T const l_SPEED_TABLE_US_KM[MAX_TABLE_SIZE][MAX_TABLE_OUT] =
{ 
	{175,  	24000	},
	{175,  	0		},
	{3218, 	3290	},
	{6436, 	6581	},
	{9654, 	9863	},
	{12872,	13162	},
	{16090,	16444	},
	{19308,	19742	},
	{22526,	23025	},
	{25744,	26323	},
	{28962,	29606	},
	{33789,	34529	},
	{0xFFFF,0xFFFF	},
	{0xFFFF,0xFFFF	},
	{0xFFFF,0xFFFF	},
	{0xFFFF,0xFFFF	},
	{0xFFFF,0xFFFF	},
	{0xFFFF,0xFFFF	}
};

static uint16_T const l_SPEED_TABLE_US_MILES[MAX_TABLE_SIZE][MAX_TABLE_OUT] =
{ 
	{175,  	 25744	},
	{175,  	 0		},
	{3218, 	 2045	},
	{6436, 	 4090	},
	{9654, 	 6130	},
	{12872,	 8180	},
	{16090,	 10220	},
	{19308,	 12270	},
	{22526,	 14310	},
	{25744,	 16360	},
	{28962,	 18400	},
	{33789,	 21460	},
	{0xFFFF, 0xFFFF	},
	{0xFFFF, 0xFFFF	},
	{0xFFFF, 0xFFFF	},
	{0xFFFF, 0xFFFF	},
	{0xFFFF, 0xFFFF	},
	{0xFFFF, 0xFFFF	}
};
/* ===========================================================================
  Speed lookup table for Canada region
 =========================================================================*/  
static uint16_T const l_SPEED_TABLE_CANADA_KM[MAX_TABLE_SIZE][MAX_TABLE_OUT] =
{
	{175,    24000	},
	{175,    0		},
	{2000,   2045	},
	{4000,   4095	},
	{6000,   6135	},
	{8000,   8180	},
	{10000,  10220	},
	{12000,  12270	},
	{14000,  14310	},
	{16000,  16360	},
	{18000,  18400	},
	{20000,  20450	},
	{22000,  22490	},
	{24000,  24540	},
	{26000,  26580	},
	{33000,  33720	},
	{0xFFFF, 0xFFFF	},
	{0xFFFF, 0xFFFF	}
};

static uint16_T const l_SPEED_TABLE_CANADA_MILES[MAX_TABLE_SIZE][MAX_TABLE_OUT] =
{
	{175,    25744	},
	{175,    0		},
	{2000,   1268	},
	{4000,   2545	},
	{6000,   3813	},
	{8000,   5084	},
	{10000,  6352	},
	{12000,  7626	},
	{14000,  8894	},
	{16000,  10168	},
	{18000,  11436	},
	{20000,  12710	},
	{22000,  13978	},
	{24000,  15252	},
	{26000,  16520	},
	{33000,  20957	},
	{0xFFFF, 0xFFFF	},
	{0xFFFF, 0xFFFF	}
};
/* ===========================================================================
  Speed lookup table for ADR region
 =========================================================================*/  
static uint16_T const l_SPEED_TABLE_EU_KM[MAX_TABLE_SIZE][MAX_TABLE_OUT] =
{
    {175,   24000	},
	{175,   0		},
	{2000,  2130	},
	{4000,  4180	},
	{6000,  6240	},
	{8000,  8300	},
	{10000, 10350	},
	{12000, 12410	},
	{14000, 14450	},
	{16000, 16490	},
	{18000, 18530	},
	{20000, 20570	},
	{22000, 22610	},
	{24000, 24650	},
	{26000, 26690	},
	{33000, 33830	},
	{0xFFFF,0xFFFF	},
	{0xFFFF,0xFFFF	}
};
/* ===========================================================================
  Speed lookup table for ECE region
 =========================================================================*/
static uint16_T const l_SPEED_TABLE_ECE_KM[MAX_TABLE_SIZE][MAX_TABLE_OUT] =
{
	{175,   24000	},
	{175,   0		},
	{2000,  2220	},
	{4000,  4290	},
	{6000,  6370	},
	{8000,  8445	},
	{10000, 10515	},
	{12000, 12600	},
	{14000, 14670	},
	{16000, 16735	},
	{18000, 18800	},
	{20000, 20870	},
	{22000, 22940	},
	{24000, 25010	},
	{26000, 27080	},
	{33000, 34325	},
	{0xFFFF,0xFFFF	},
	{0xFFFF,0xFFFF	}
};
#endif


