/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2018. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           Mdl_Fuel_config.cfg
**
** Description:    Configuration file for the Fuel configurations
**
** Organization:   Driver Information Software Section
**
**============================================================================
**
**==========================================================================*/

#ifndef MDL_FUEL_CFG
#define MDL_FUEL_CFG

/*****************************************************************************
** NAME       : Mdl_Fuel_cTaskPeriod
** DESCRIPTION: Configure the Fuel Task Period
**              
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define Mdl_Fuel_cTaskPeriod  (uint8)100

/*****************************************************************************
** NAME       : FC_HOSEI
** DESCRIPTION: Configure the CorrectionK tuning Factor option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define FC_HOSEI 	(uint16)110

/*****************************************************************************
** NAME       : STP_JDG
** DESCRIPTION: Configure the Vehicle Stop timer period
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define STP_JDG	(uint16)10000

/*****************************************************************************
** NAME       : LUBJDGPL
** DESCRIPTION: Configure the LUBJDGPL option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define LUBJDGPL	(uint16)2000

/*****************************************************************************
** NAME       : LUBJDGPN
** DESCRIPTION: Configure the LUBJDGPN option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define LUBJDGPN     (uint16)15000

/*****************************************************************************
** NAME       : SENDER_ERROR_LOWER_LIMIT
** DESCRIPTION: Configure the SENDER_ERROR_LOWER_LIMIT option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define SENDER_ERROR_LOWER_LIMIT       200u

/*****************************************************************************
** NAME       : SENDER_ERROR_UP_LIMIT
** DESCRIPTION: Configure the AFE1 option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define SENDER_ERROR_UP_LIMIT          4700u

/*****************************************************************************
** NAME       : T1_DURATION
** DESCRIPTION: Configure the T1_DURATION option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define T1_DURATION                    (uint16)15000

/*****************************************************************************
** NAME       : T5MIN_DURATION
** DESCRIPTION: Configure the T5MIN_DURATION option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define T5MIN_DURATION                 (uint32)300000

/*****************************************************************************
** NAME       : T5SEC_DURATION
** DESCRIPTION: Configure the T5SEC_DURATION option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define T5SEC_DURATION                 (uint16)50

/*****************************************************************************
** NAME       : UPDATE_JDG
** DESCRIPTION: Configure the UPDATE_JDG option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define UPDATE_JDG                     (uint16)15000

/*****************************************************************************
** NAME       : AVG_TAU_SAMPLE_THRESHOLD
** DESCRIPTION: Configure the AVG_TAU_SAMPLE_THRESHOLD option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define AVG_TAU_SAMPLE_THRESHOLD        (uint16)256

/*****************************************************************************
** NAME       : SENDER_ERROR_SAMPLE_THRESHOLD
** DESCRIPTION: Configure the SENDER_ERROR_SAMPLE_THRESHOLD option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define SENDER_ERROR_SAMPLE_THRESHOLD    (uint8)3

/*****************************************************************************
** NAME       : KMIN_THRESHOLD
** DESCRIPTION: Configure the KMIN_THRESHOLD option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define KMIN_THRESHOLD    (uint16)1

/*****************************************************************************
** NAME       : KMAX_THRESHOLD
** DESCRIPTION: Configure the KMAX_THRESHOLD option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/
#define KMAX_THRESHOLD    (uint16)500
/*****************************************************************************
** NAME       : FLidType
** DESCRIPTION: Configure the Lid type option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define FLidType        (uint8)2
/*****************************************************************************
** NAME       : FStype
** DESCRIPTION: Configure the Sub tank type option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define FStype         (uint8)0  

/*****************************************************************************
** NAME       : FSubSen
** DESCRIPTION: Configure the Sub tank type option
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define FSubSen        (uint8)1

/*****************************************************************************
** NAME       : LIDTIME1
** DESCRIPTION: Configure the LIDTIME1
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define LIDTIME1        (uint16)1000

/*****************************************************************************
** NAME       : LIDTIME2
** DESCRIPTION: Configure the LIDTIME2
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define LIDTIME2        (uint16)30000

/*****************************************************************************
** NAME       : LIDSPEED
** DESCRIPTION: Configure the LIDOPEN SPEED
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define LIDSPEED        (uint16)2000

/*****************************************************************************
** NAME       : AUTOSTOPL
** DESCRIPTION: Configure the AUTOSTOPL 
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define AUTOSTOPL        (uint16)54000

/*****************************************************************************
** NAME       : MINJUDGL
** DESCRIPTION: Configure the MINJUDGL 
** UNIT       : N/A
** RESOLUTION : N/A
** DATA TYPE  : N/A 
** REQUIRED   : YES
*****************************************************************************/

#define MINJUDGL        (uint16)1000

#endif
/*****************************************************************************
*   for each change to this file, be sure to record:                         *
*      1.  who made the change and when the change was made                  *
*      2.  why the change was made and the intended result                   *
*   Following block needs to be repeated for each change
******************************************************************************
*   Note: In the traceability column we need to trace back to the Design Doc.*
*   For the initial version it is traced to the Design Document section.     *
*   For further changes it shall trace to the source of the change which may *
*   be SPSS/SCR/Defect details(Defect may be Testing/validation defect)/Any  *
*   other reason                                                             *
******************************************************************************/


