/*****************************************************************************
*                                                                            *
*              CONFIDENTIAL VISTEON CORPORATION                              *
*                                                                            *
* This is an unpublished work of authorship, which contains trade            *
* secrets, created in 2011. Visteon Corporation owns all rights to           *
* this work and intends to maintain it in confidence to preserve             *
* its trade secret status. Visteon Corporation reserves the right,           *
* under the copyright laws of the United States or those of any              *
* other country that may have jurisdiction, to protect this work             *
* as an unpublished work, in the event of an inadvertent or                  *
* deliberate unauthorized publication. Visteon Corporation also              *
* reserves its rights under all copyright laws to protect this               *
* work as a published work, when appropriate. Those having access            *
* to this work may not copy it, use it, modify it or disclose the            *
* information contained in it without the written authorization              *
* of Visteon Corporation.                                                    *
*                                                                            *
******************************************************************************/

/*****************************************************************************
File Name        :  hmi_bidi_algo.CFG
Module Short Name:  hmi_bidi_algo.CFG
VOBName          :  TBC
Author           :  ggayathr, ksenthi5
Description      :  This file contains the array table used to parse the data .
                    received from the Media Source
                 :  Note        :	This is a Auto generated file
                    File name   :	Arabic_Implementation_Tables_generation.xls
                    CC Path     :	sw_di_int\2010_ford_u38x_mfd\05_product\design\DD\common_features\Arabic
Organization     :  Driver Information Software Section,
Compiler Name    :  COSMIC 4.75
Target Processor :  MC9S12XHZ512
******************************************************************************/

#ifndef HMI_BIDI_ALGO_CFG
#define HMI_BIDI_ALGO_CFG
/*****************************************************************************
*	INCLUDE FILES
******************************************************************************/

#include "system.h"
#include "tmwtypes.h"
#include "hmi_language_interface.h"
#include "hmi_gfx_mgr02_cfg.h"

/*****************************************************************************
*	MACROS DEFINITIONS
******************************************************************************/
/* For OPENVG and MULTI-LINE configuration alone configure as GFX_MGR02_MAX_MULTI_LINE_TEXT_LENGTH else configure as GFX_MGR02_MAX_TEXT_LENGTH. */
#if GFX_MGR02_NUM_OF_MULTI_LINE_TEXTS >0
    #define HMI_MAX_STRING_CHARS GFX_MGR02_MAX_MULTI_LINE_TEXT_LENGTH
#else
    #define HMI_MAX_STRING_CHARS GFX_MGR02_MAX_TEXT_LENGTH
#endif
/* To include arabic vowels(zero width characters) in final output string, enable below macro */
/* #define HMI_BIDI_ALLOW_ARABIC_VOWELS */
/* #define HMI_CURSIVE_ALLOW_ARABIC_VOWELS */

#if defined(HMI_BIDI_ALLOW_ARABIC_VOWELS)
  #define BIDI_CLASS_SIZE_MAX		(UINT16_T)791
#else
  #define BIDI_CLASS_SIZE_MAX		(UINT16_T)790
#endif
#endif
