/*****************************************************************************
*                                                                            *
*              CONFIDENTIAL VISTEON CORPORATION                              *
*                                                                            *
* This is an unpublished work of authorship, which contains trade            *
* secrets, created in 2013. Visteon Corporation owns all rights to           *
* this work and intends to maintain it in confidence to preserve             *
* its trade secret status. Visteon Corporation reserves the right,           *
* under the copyright laws of the United States or those of any              *
* other country that may have jurisdiction, to protect this work             *
* as an unpublished work, in the event of an inadvertent or                  *
* deliberate unauthorized publication. Visteon Corporation also              *
* reserves its rights under all copyright laws to protect this               *
* work as a published work, when appropriate. Those having access            *
* to this work may not copy it, use it, modify it or disclose the            *
* information contained in it without the written authorization              *
* of Visteon Corporation.                                                    *
*                                                                            *
******************************************************************************/
/*****************************************************************************
*  File Name         :  dma.driver.mpc56xx                                   *
*  Module Short Name :  dma                                                  *
*  Description       :  This file contains DMA driver configuration          *
*                                                                            *
* Organization     :  Driver Information Software Section,                   *
*                     Visteon Software Operation                             *
*                     Visteon Corporation                                    *
*                                                                            *
* ---------------------------------------------------------------------------*
* Compiler Name    :  Codewarrior                                            *
* Target Hardware  :  MPC56xxx Series of Microcontroller                     *
*                                                                            *
******************************************************************************/
#ifndef DMA_DRIVER_CFG
#define DMA_DRIVER_CFG


/*****************************************************************************
*                                 Global Macro Definitions                   *
*----------------------------------------------------------------------------*
* Definition of macro shall be followed by a comment that explains the       *
* purpose of the macro.                                                      *
******************************************************************************/

/*-------------------------------------------------------------------------*/
/*                                                                         */
/* NAME:         PS_DMA_CHANNELS_USED                                      */
/*                                                                         */
/* TYPE:         MACRO                                                     */
/*                                                                         */
/* DESCRIPTION:  Defines the number of DMA channels used                   */
/*               Max supported DMA channels is 16                          */
/*                                                                         */
/* REQUIRED:     YES                                                       */
/*                                                                         */
/*-------------------------------------------------------------------------*/
#define PS_DMA_CHANNELS_USED   4

/*-------------------------------------------------------------------------*/
/*                                                                         */
/* NAME:         DMA_CH_PARAMETERS                                         */
/*                                                                         */
/* TYPE:         MACRO                                                     */
/*                                                                         */
/* DESCRIPTION:  DMA_CHANNEL_NO - Configure DMA Hardware Channel Number.   */
/*               Channel Number ranges from 0 to 15.                       */
/*               DMA CH0 - 0                                               */
/*               DMA CH1 - 1                                               */
/*               DMA CH2 - 2                                               */
/*               DMA CH3 - 3                                               */
/*               DMA CH4 - 4                                               */
/*               DMA CH5 - 5                                               */
/*               DMA CH6 - 6                                               */
/*               DMA CH7 - 7                                               */
/*               DMA CH8 - 8                                               */
/*               DMA CH9 - 9                                               */
/*               DMA CH10 - 10                                             */
/*               DMA CH11 - 11                                             */
/*               DMA CH12 - 12                                             */
/*               DMA CH13 - 13                                             */
/*               DMA CH14 - 14                                             */
/*               DMA CH15 - 15                                             */
/*               Channel cfg value should be unique for each Channel       */
/*                  otherwise DMA configuration error will occur.          */
/*                                                                         */
/*               DMA_CHANNEL_PRIORITY - Set Priority for channel.          */
/*                  Priority ranges are 0 to 15. 0 is the lowest priority, */
/*                  1 is the next higher priority, then 2, 3, etc.         */
/*                  Priority value should be unique for each channel,      */
/*                  otherwise DMA configuration error will occur.          */
/*                                                                         */
/* REQUIRED:     YES                                                       */
/*                                                                         */
/*-------------------------------------------------------------------------*/
/*
#define DMA_CH_PARAMETERS            \
DMA_SW_CHANNEL0  - {DMA HW Channel Number,  Priority value}, \
DMA_SW_CHANNEL1  - {DMA HW Channel Number,  Priority value}, \
.
.
.
DMA_SW_CHANNEL15 - {DMA HW Channel Number,  Priority value}, \
*/

/* NOTE : Allocate DMA HW Channel 0 for DDR2 data copy if DMA is used for 
copying the data to DDR2. Application can use rest of the DMA channels (1 to 15) */

#if defined(GFX_MGR02_FARADAY) && !defined(WIN32)

#define DMA_CH_PARAMETERS            \
        { 3         ,       0     }, \
        { 2         ,       1     }, \
        { 1         ,       2     }, \
        { 0         ,       3     }, \

#else

#define DMA_CH_PARAMETERS            \
        { 0         ,       0     }, \
        { 1         ,       1     }, \
        { 2         ,       2     }, \
        { 3         ,       3     }, \

#endif

#ifdef WIN32
#define KernelSaveIntStatusAndDisable() (0)
#define KernelRestoreIntStatus(x)
#endif

/* 
** if we use this copy of the driver, then we have to init it ourself 
** Normally this is not intented to be used at all. But this copy is provided
** here until all applications migrate to new infrastructure package.
*/
#define GFX_MGR02_INIT_DMA	

#endif

/*============================================================================
**============================================================================
** R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
**===========================================================================*/
/*---------------------------------------------------------------------------
Date               : 26-June-13
CDSID              : krohini
Traceability       : ----------
Change Description : Initial version
-----------------------------------------------------------------------------*/
/* end of file =============================================================*/
