/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2008. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_simulation_tick.cfg
**
** Description:    This file contains the configuration required for the
**                 hmi simulation framework.
**
** Organization:   Driver Information Software Section,
**                 DI Core Engineering Department
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_SIMULATION_TICK_CFG
#define HMI_SIMULATION_TICK_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/
#include "hmi_gfx_mgr02_layout.h"
#include "hmi_gfx_mgr02_driver.h"

/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/

/*
** Define the tickrate for the simulation in milli seconds.
** The externed global l_system_tick_U16 will be incremented at this rate.
*/
#define HMI_SIMUL_TICK_MSEC     (15)

/*
** Define the rate at which DCU ISR needs to be triggered. The ISR time will be
** equal to  HMI_SIMUL_TICK_MSEC*HMI_SIMUL_DCU_TICK_RATE milli seconds.
** So inorder to achive a 60fps, set HMI_SIMUL_TICK_MSEC to 16 and
** HMI_SIMUL_DCU_TICK_RATE to 1.
*/
#define HMI_SIMUL_DCU_TICK_RATE (1)
extern void hmi_gfx_mgr02_driver_dcu_isr(void);
#define HMI_SIM_DCU_ISR (hmi_gfx_mgr02_driver_dcu_isr) 

/*
** When HMI_SIM_UPDATE_LCD_PERIODIC is defined -
**    An LCD refresh after every DCU process. This might cause flickering,
**    effects when the display contains many widgets. In such case do not
**    define this macro.
** When HMI_SIM_UPDATE_LCD_PERIODIC is not defined -
**    LCD refresh is not automatically done and responsibility lies with
**    application. Refresh can be done by invoking gls_update_lcd()
**    Invoke gls_update_lcd() when ever all the display RAM is built
**    and all DCU registers set correctly.
*/
//#define HMI_SIM_UPDATE_LCD_PERIODIC

/*
** When HMI_SIM_USE_GLUT is defined -
**     When this macro is defined, a LCD window is created using GLUT framework
**     hmi_simulation_tick will create threads to handle this window. This may not
**     work well if you are planning to use the hmi_simulation_tick matlab as
**     matlab will crash when ever you stop the simulation. So this setting can
**     only be used with a VC++ simulation.
** When HMI_SIM_USE_GLUT is not defined -
**     hmi_simulation_tick doesnot use GLUT and doesnot create a LCD window.
**	   hmi_simulation_tick expects the gdt_sim_window.exe application running
**     hmi_simulation_tick communicates with gdt_sim_window.exe and shows the
**     LCD content. This way there are no thread usage and its safe to use this
**     with matlab.Opengl32.lib Glu32.lib
**     gdt_sim_window.exe can be located at .\sw_methods_tools\tools\hmi\gdt\src\gfx_lcd_simulator\stateflow\src
*/
#define HMI_SIM_USE_WM       0
#define HMI_SIM_USE_GLUT     1
#define HMI_SIM_USE_DEFAULT	 2
#define HMI_SIM_USE_OPENGL	 3
#define HMI_SIM_WINDOW_TYPE  (HMI_SIM_USE_DEFAULT)

/*
** Define the required width and height of the TFT window
*/
#define HMI_SIM_LCD_WIDTH  	 (480)
#define HMI_SIM_LCD_HEIGHT	 (272)

/*============================================================================
** E N T R Y   P O I N T S
**==========================================================================*/

/*============================================================================
** D A T A   A C C E S S   S E R V I C E S
**==========================================================================*/


/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
**
** Rev 1.0          23-Sep-2009  EMANOJ1
** Initial revision.
**
**==========================================================================*/

/* end of file =============================================================*/
#endif
