/****************************************************************************/
/*                            COPYRIGHT STATEMENT                           */
/*                     CONFIDENTIAL - VISTEON CORPORATION                   */
/* This is an unpublished work, which contains trade secrets, created in    */
/* 2007. Visteon Corporation owns all rights to this work and intends       */
/* to maintain it in confidence to preserve its trade secret status. Visteon*/
/* Corporation reserves the right, under the copyright laws of the United   */
/* States or those of any other country that may have jurisdiction, to      */
/* protect this work as an unpublished copyright work in the event of an    */
/* inadvertent or deliberate unauthorized publication. Visteon Corporation  */
/* also reserves its rights under the copyright laws to protect this work   */
/* as a published work, when appropriate. Those having access to this work  */
/* may not copy it, use it or disclose the information contained in it      */
/* without the written authorization of Visteon Corporation.                */
/****************************************************************************/
/*****************************************************************************

File Name        :  whar.h
Module Short Name:  whar
VOBName          :  sw_hmi_ss\06_components\widechar_lib\03_code
Author           :  rgopalak
Description      :  This file defines the interfaces for wchar functions

Organization     :  Driver Information Software Section,
                    Visteon Corporation

******************************************************************************/

#ifndef WCHARAPP_CFG
#define WCHARAPP_CFG

#include "system.h"
#include "string.h"

/*****************************************************************************
* Global Macro Definitions                                                   *
*----------------------------------------------------------------------------*
* Definition of macro shall be followed by a comment that explains the       *
* purpose of the macro.                                                      *
*****************************************************************************/
#define WC_GOLBAL_RAM_PTR

/*----------------------------------------------------------------------------
Macro Name   : WC_CHAR_CASE_CHECK_ENABLED
Purpose	     : This macro Enabled/ Disables the functionality to check for the
               case wide character.
Valid Value	 : 0 - Disables the functionality (Default)
               1 - Enables the functionality
----------------------------------------------------------------------------*/
#define WC_CHAR_CASE_CHECK_ENABLED   0

/*----------------------------------------------------------------------------
Macro Name   : WC_CHAR_CASE_CHANGE_ENABLED
Purpose	     : This macro Enables/ Disables the functionality to convert the
               wide char from one case to the other.
Valid Value	 : 0 - Disables the functionality (Default)
               1 - Enables the functionality
----------------------------------------------------------------------------*/
#define WC_CHAR_CASE_CHANGE_ENABLED  0

/*----------------------------------------------------------------------------
Macro Name   : WC_CHAR_ASCII_CHECK_ENABLED
Purpose	     : This macro Enables/ Disables the functionality to check
               whether the Wide char is an Ascii char.
Valid Value	 : 0 - Disables the functionality (Default)
               1 - Enables the functionality
----------------------------------------------------------------------------*/
#define WC_CHAR_ASCII_CHECK_ENABLED  0

/*----------------------------------------------------------------------------
Macro Name   : WC_CHAR_SPACE_CHECK_ENABLED
Purpose	     : This macro Enables/ Disables the functionality to check for
               a wide char to be a space or not.
Valid Value	 : 0 - Disables the functionality
               1 - Enables the functionality
----------------------------------------------------------------------------*/
#define WC_CHAR_SPACE_CHECK_ENABLED  0



/*****************************************************************************
* Type Decleration                                                           *
*----------------------------------------------------------------------------*
* Decleration of type shall be accompanied by a comment that explains the    *
* purpose and usage of the type.                                             *
*****************************************************************************/
#if ((WC_CHAR_CASE_CHANGE_ENABLED == 1) || (WC_CHAR_CASE_CHECK_ENABLED == 1))

#define WCHAR_CHAR_TABLE_LIST           \
{                                       \
    {{'A','Z'},{'a','z'}, ('a'-'A')},   \
    {{  0,  0},{  0,  0},         0}    \
}

#endif

#endif

/*----------------------------------------------------------------------------
Date              : 18-2-2008
By                : gpuruso1
Traceability      : NA
Change Description: towupper()  ,iswspace() ,isascii()    ,towlower()
                   iswascii(),iswlower(), iswupper() added with conditional
                   Compilation.
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
Date              : 21-9-2011
By                : gramkuma
Traceability      : QAC
Change Description: Previously we were having size_t.h inclusion, one of the library files included
				    in size_t.h was creating a QAC error. Now we have included string.h instead
					which also contains size_t definition and doesn't create QAC errors
----------------------------------------------------------------------------*/

