/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2018. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           Mdl_Gear_config.cfg
**
** Description:    Configuration file for the Model Gear configurations
**
** Organization:   Driver Information Software Section
**
**============================================================================
**
**==========================================================================*/

#ifndef MDL_GEAR_CFG
#define MDL_GEAR_CFG
#define Mdl_Gear_cTaskPeriod 32

#endif
/*END of File**/
