*.htm
*.pdb
.vs
Temp
Logs
Release/Library
Release/obj
Release/Logs
Library
obj
Output
Packages
Assets/renderCore/eHMI/.vs
source/Assembly-CSharp-Editor.csproj
source/Assembly-CSharp.csproj
source/source.sln
