/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2009. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
**  Name:               hmi_msgArbitrator.cfg
**
**  Description:
**
**  Organization:       Driver Information Software Section,
**                      DI Core Engineering Department
**
**===========================================================================*/
#ifndef hmi_msgArbitrator_CFG
#define hmi_msgArbitrator_CFG

/*==========================================================================*/
/* I N C L U D E   F I L E S                                                */
/*==========================================================================*/

#if defined hmi_msgArbitrator_C
/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/
#include "hmi_msgSequencer.h"

#else
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


#endif

/*==========================================================================*/
/* T Y P E   D E F I N I T I O N S                                          */
/*==========================================================================*/

#if defined hmi_msgArbitrator_C
/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/
#include "hmi_msgTest.h"


#else
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/

#endif

/*==========================================================================*/
/* D A T A   A C C E S S   M A C R O S                                      */
/*==========================================================================*/

#if defined hmi_msgArbitrator_C
/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/
#define MSG_ARBITRATOR_ADD(msg)                 msg_SequencerAdd((eMessageIdentity)msg)
#define MSG_ARBITRATOR_REMOVE(msg, ignState)    msg_SequencerRemove((eMessageIdentity)msg, ignState)
#define MSG_ARBITRATOR_RETRIGGER(msg)           msg_SequencerRetrigger((eMessageIdentity)msg)

#define TEST_INDICATE(n)    test_Mark(n)

#else
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


#endif


/*==========================================================================*/
/* R E V I S I O N    N O T E S                                             */
/*==========================================================================*/
/* For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**==========================================================================*/

/****************************************************************************
**  Date  : 06/Apr/2010
**  by    : AFERRIS2
**  Ref   : None.
**  Change: Initial version.
**
*****************************************************************************/

/****************************************************************************
**  Date: 07/Jul/2010     by: AFERRIS2        Ref:
**  Change: 1.  Fix to QAC warning in MSG_ARBITRATOR_REMOVE()
**
**  Checks: COMPILER - NOT CHECKED       QAC - NOT CHECKED
*****************************************************************************/

/****************************************************************************
**  Date: 13/Mar/2012     by: VSARAVA2        Ref:
**  Change: 1.  MSG_ARBITRATOR_RETRIGGER macro added
**
**  Checks: COMPILER - NOT CHECKED       QAC - NOT CHECKED
*****************************************************************************/

/****************************************************************************
**  Date: 10/Aug/2013     by: vsarava2        Ref: RTC 60620
**  MsgArbitratorRemove shall send the Ign status to sequencer to remove the
**  message from sequencer based on options.
**
*****************************************************************************/
/****************************************************************************
**  Date: 10/Feb/2015     by: KKUBENDI        
**  Compiler warnings removed for Honda THAA
**
*****************************************************************************/
#endif /* hmi_msgArbitrator_CFG */
/* end of file =============================================================*/
