/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2010. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_menu_core_01.cfg
**
** Description:    Configuration file for the Menu Core
**
** Organization:   Driver Information Software Section,
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_MENU_CORE_01_CFG
#define HMI_MENU_CORE_01_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/
#include "system.h"
#include "hmi_logic_state_handler.h"
#include "swtmr.h"
#include "hmi_menu_def_1.inc"
#include "hmi_menu_core_01_types.h"
#include "hmi_menu_application.h"
/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/
/*
** This Macro is used to have compile error free. If it is defined then the 
** array holds the default value and get compiled without error.Normally the
** array table shall be defined in the Application so that this macro should 
** not be defined.
*/

/*
** If Fast scroll functionality needs to be supported then enable the macro
*/
#ifdef 	LSH_ANIMATION_SUPPORT_ENABLED
  /* Map the Animation value */

	#define HMI_MENU_ANIMATION_ABORT                           		  ANIM_MAX_ID
  #define HMI_MENU_WIPER_LEFT_ANM(menu_anim_data_ptr)          		ANIM_MAX_ID
  #define HMI_MENU_PLEASE_WAIT_ANM(menu_anim_data_ptr)         		ANIM_MAX_ID
  #define HMI_MENU_FOCUS_FRAME_MOVE_UP_ANIM(menu_anim_data_ptr)		ANIM_MAX_ID
  #define HMI_MENU_FOCUS_FRAME_MOVE_DOWN_ANIM(menu_anim_data_ptr)	ANIM_MAX_ID  
  #define HMI_MENU_LIST_WNDW_MOVE_UP_ANIM(menu_anim_data_ptr)  		ANIM_MAX_ID
  #define HMI_MENU_LIST_WNDW_MOVE_DOWN_ANIM(menu_anim_data_ptr)		ANIM_MAX_ID  
  #define HMI_MENU_FAST_SCROLL_UP_ANIM(menu_anim_data_ptr)        ANIM_MAX_ID
  #define HMI_MENU_FAST_SCROLL_DOWN_ANIM(menu_anim_data_ptr)      ANIM_MAX_ID  
  #define HMI_MENU_WIPER_RIGHT_ANM(menu_anim_data_ptr)			      ANIM_MAX_ID
  #define HMI_MENU_DOUBLE_WIPER_ANM(menu_anim_data_ptr)			      ANIM_MAX_ID
  #define HMI_MENU_ITEM_WRAP_ROUND_UP_ANIM(menu_anim_data_ptr) 		ANIM_MAX_ID
  #define HMI_MENU_ITEM_WRAP_ROUND_DOWN_ANIM(menu_anim_data_ptr)  ANIM_MAX_ID
  #define HMI_MENU_SCALE_ADJUST_RIGHT_ANIM(menu_anim_data_ptr) 		ANIM_MAX_ID
  #define HMI_MENU_SCALE_ADJUST_LEFT_ANIM(menu_anim_data_ptr)  		ANIM_MAX_ID
  #define HMI_MENU_FRAME_EXPAND_ANIM(menu_anim_data_ptr)     		  ANIM_MAX_ID
  #define HMI_MENU_REBUILD_ANIM(menu_anim_data_ptr)            		ANIM_MAX_ID
  /* Should not be triggered in L538. Applicable only for C520*/
  #define HMI_MENU_INSTANCE_OPEN_ANIM                             ANIM_MAX_ID
  
  #define MENU_DO_FRAME_EXPAND_ANIMATION                     
  #define HMI_MENU_FRAME_EXPAND_TMR_VALUE	                        2000
  #define HMI_MENU_FRAME_EXPAND_START_TIMER(value)		            //KernelStart13BitTimer(TIMER_13BIT_BASE_4MS, (value/4), hmi_menu_Frame_Expand_KSWTIMER)
  #define HMI_MENU_FRAME_EXPAND_STOP_TIMER()			            //KernelClear13BitTimer(hmi_menu_Frame_Expand_KSWTIMER) 
#endif


#ifdef HMI_MENU_ITEM_CONFIG_FEATURE
		#define HMI_MENU_HISTORY_STORE_MENU_ITEM(x, y) 
		#define HMI_MENU_HISTORY_STORE_MENU_ID(x) 
#endif                          
#define HMI_MENU_SCREEN_DUAL_ANIMATION                              YES 

#ifdef HMI_MENU_FAST_SCROLL_ENABLE

  /* If this declaration creates compilation error then 
     assign the hard values */
  #define HMI_MENU_GET_BTN_ID(x)         ((x & 0xFF00) >> 8)  /*LSH_GET_ID(x)*/
  #define HMI_MENU_GET_BTN_STATUS(x)     (x & 0x000F)         /*LSH_GET_STATUS(x)*/
  #define HMI_MENU_GET_BTN_CMD(id, sts)  ((id << 8)|sts)      /*LSH_GET_COMMAND(id, sts)*/

  #define HMI_MENU_UP_BUTTON             0
  #define HMI_MENU_DOWN_BUTTON           1
  #define HMI_MENU_LEFT_BUTTON           2
  #define HMI_MENU_RIGHT_BUTTON          3
  #define HMI_MENU_OK_BUTTON             4

  #define HMI_MENU_UP_BTN_REL            5
  #define HMI_MENU_DOWN_BTN_REL          6
  #define HMI_MENU_LEFT_BTN_REL          7
  #define HMI_MENU_RIGHT_BTN_REL         8

  #define HMI_MENU_MC_BTN_LONG           9

  #define HMI_MENU_FS_CNT_START_TIMER_VALUE    700
  #define HMI_MENU_FS_CNT_INCR_TIMER_VALUE     200
  #define HMI_MENU_FS_RUN_WAIT_TIMER_VALUE     500

  #define HMI_MENU_FS_START_TIMER(menu_id,timerid,value)		//KernelStart13BitTimer(TIMER_13BIT_BASE_4MS, (value/4), timerid)
  #define HMI_MENU_FS_STOP_TIMER(menu_id,timerid)				//KernelClear13BitTimer(timerid)

#endif


#ifdef HMI_MENU_FLOATING_MENU_FEATURE
  HMI_MENU_LOGIC_GET_FLOATING_MENU_FOCUS_ENTRY(menu_id,index) 
#endif
/*
** Look up table for Menu ID Vs Screen ID
** Example MENU_ROOT_MENU          - 
**         MENU_RADIO_BAND_MENU    - 
*/
#define HMI_MENU_ID_COUNT         TOTAL_MENU_ID

#define HMI_MENU_TOTAL_BTN_ACNS_MAPPED 23

/*
** Look up table for Menu Action Vs Button Action
** Example MENU_ACTION_UP         - ButtonID_UP_IN
**         MENU_ACTION_OK_RELEASE - ButtonID_OK_RELEASE
*/
#define HMI_MENU_ACTIONS_COUNT     59


/* Number of Maximum Display Lines that the display can achieve.
** If a Display can withstand 5 lines then it should be configured as 5.
** May be according to the layout the Display lines vary but this macro
** focusses on the maximum lines that the Display accomodates.
*/
#define NB_MAX_LINE					4

/*
** Enable if the Focus and selection marker being kept constant for all the 
** Menu Display.
*/
#define HMI_MENU_FOCUS_SELECTION_LINE_CONSTANT     0

/* Focusline of the constant selection Marker in the Total Dislayed lines*/
#define HMI_MENU_FOCUS_SEL_LINE_CONSNT_ITEM        0

/*Added for TVM Menu instance handling If defined then deactivate from focus handler will be handling in menu core*/
#define HMI_MENU_TVM_MENU_INSTANCE_HANDLING

/*
** It is used for the focus line position and marker display.Usually 1 would
** be set but for the Bargraph Menu type according to display lines it can be
** configured.
** Example:In MFD LOW version, for Bargraph Menu the focus line and the marker 
**         increments by two.
*/

/*
** Menu oriented Timer configuration
*/

#define MENU_START_TIMER_ID                  

#define MENU_START_WAIT_STATE_ID             

#define MENU_STOP_TIMER_ID                   

/* Configure the value to get timeout */ 
#define HMI_MENU_WAIT_TEMP_TIMER_VALUE                            1

#define HMI_MENU_START_TIMER(menu_id,timerid,value)
#define HMI_MENU_STOP_TIMER(menu_id,timerid)      
#define HMI_MENU_START_WAIT_TEMP_TIMER(menu_id,timerid,value)          
#define HMI_MENU_STOP_WAIT_TEMP_TIMER(menu_id,timerid)                 

#ifdef HMI_MENU_CORE_NOTIFY_MENU_FOCUS
#define HMI_MENU_LOGIC_NOTIFY_MENU_FOCUS(fl_menu_id_U8,fl_focus_U8)
#endif



/* Added this for P42. Instead of menu core doing the lsh freeze, application will do freeze based on their requirement*/ 
/*#define HMI_MENU_LSH_FREEZE_CONFIG*/
#ifdef HMI_MENU_LSH_FREEZE_CONFIG
#define HMI_MENU_LOGIC_NOTIFY_LSH_BUTTON_FREEZE(fl_menu_lsh_freeze_ptr)
#endif
/* On reload's rebuild ,if focused item is greyed out, then next focus item	  */
/* is decided based on below configuration. If left unconfigured then focused */
/* item is same as greyed out item                                            */
/*HMI_MENU_FOCUS_ENTRY_DECR_TILL_VALID- Decrement focus till valid focus item */
/*HMI_MENU_FOCUS_ENTRY_INCR_TILL_VALID- Increment focus till valid focus item */
/*HMI_MENU_FOCUS_ENTRY_REBUILD_DEFUALT- same as greyed out item               */

#define HMI_MENU_SET_FOCUS_ENTRY_REBUILD_GREYOUT               HMI_MENU_FOCUS_ENTRY_REBUILD_DEFUALT

/* On reload to parent menu, if the focused item is greyout, then focus entry */
/* is decided based on below configuration. If left unconfigured then focused */
/* item is same as greyed out item                                            */
/*HMI_MENU_FOCUS_ENTRY_TO_ZER0 - Set focus to first item. i.e., back button in Hyundai AE */
/*HMI_MENU_FOCUS_ENTRY_RELOAD_DEFUALT- same as greyed out item               */

#define HMI_MENU_SET_FOCUS_ENTRY_RELOAD_GREYOUT				   HMI_MENU_FOCUS_ENTRY_RELOAD_DEFUALT
#endif


/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**==========================================================================*/
/*============================================================================
**
** CMS Rev 1.0      20-JAN-2014    vsarava2
** Synchronized with Latest core.
**
**==========================================================================*/
/*============================================================================
**
** CMS Rev 1.0      20-JAN-2014    vsarava2
** Initial version taken from P42M, for sample software
**
**==========================================================================*/
/*============================================================================
**
** CMS Rev 1.1      25-SEP-2014    vsarava2
** Updated for IceApple 4.10 Drop3 version. Menu Id parameter included in
** software timer start/stop function macros.
**
**==========================================================================*/
/*============================================================================
**
** CMS Rev 1.1      25-Oct-2014    vaathimo
** 217913.        Added animation activation functions
**
**==========================================================================*/

/* end of file =============================================================*/

