/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2011. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_gfx_anim_engine.h
**
** Description:    public interface header for the animation engine
**
** Organization:   Driver Information Software Section,
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_GFX_ANIM_ENGINE_CFG
#define HMI_GFX_ANIM_ENGINE_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/
#include "hmi_logic_state_handler.h"

/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/
#ifdef  __cplusplus
extern "C" {
#endif

#define GFX_NEW_IMAGES_1_ANIM 0

#ifdef GFX_ANIM_DEBUG
 #define GFX_ANIM_DEBUG_PRINT printf
#else
 #define GFX_ANIM_DEBUG_PRINT
#endif

#ifdef LSH_ANIMATION_SUPPORT_ENABLED
  #define HMI_GFX_ANIM_ENGINE_DONE_CB(anim_id, client_id) hmi_lsh_animation_done_cb(0, client_id, anim_id)
#else
  #define HMI_GFX_ANIM_ENGINE_DONE_CB(anim_id, client_id)
#endif

#define HMI_GFX_ANIM_SET_SCREEN(sid)       
#define HMI_GFX_ANIM_SET_OFFSET_X(id, offx)
#define HMI_GFX_ANIM_SET_OFFSET_Y(id, offy)
#define HMI_GFX_ANIM_SET_OFFSET_W(id, offw)
#define HMI_GFX_ANIM_SET_OFFSET_H(id, offh)
#define HMI_GFX_ANIM_SET_DATA(id, data)    
#define HMI_GFX_ANIM_SET_COLOR(id, color)  
#define HMI_GFX_ANIM_SET_ALPHA(id, alpha)  
#define HMI_GFX_ANIM_SET_OFFSET_POS(id, offx, offy)
#define HMI_GFX_ANIM_SET_OFFSET_AREA(id, offx, offy, offw, offh)
#define HMI_GFX_ANIM_SET_OFFSET_WH(id, offw, offh)
#define HMI_GFX_ANIM_SET_CLIENT(cid)

/*============================================================================
** E N T R Y   P O I N T S
**==========================================================================*/

/*============================================================================
** D A T A   A C C E S S   S E R V I C E S
**==========================================================================*/

/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
**
** CMS Rev 1.0      27-Nov-12    EMANOJ1
** Creation.
**
**==========================================================================*/
#ifdef  __cplusplus
}
#endif

/* end of file =============================================================*/
#endif
