/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2009. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
**  Name:               hmi_msgTask.cfg
**
**  Description:
**
**  Organization:       Driver Information Software Section,
**                      DI Core Engineering Department
**
**===========================================================================*/
#ifndef hmi_msgTask_CFG
#define hmi_msgTask_CFG

/*==========================================================================*/
/* I N C L U D E   F I L E S                                                */
/*==========================================================================*/

#if defined hmi_msgTask_C
/*--------------------------------------*/
/* Private INCLUDES                     */
/*--------------------------------------*/

#else
/*--------------------------------------*/
/* Public  INCLUDES                     */
/*--------------------------------------*/


#endif /* hmi_msgTask_C */

/*==========================================================================*/
/* T Y P E   D E F I N I T I O N S                                          */
/*==========================================================================*/

#if defined hmi_msgTask_C
/*--------------------------------------*/
/* Private DEFINITIONS                  */
/*--------------------------------------*/

/*----------------------------------------------------------------------*/
/* Default module status reporting settings.                            */
/*----------------------------------------------------------------------*/
#define MSG_DEFAULT_MODULE_SELECTION   (MSG_ALL_CATEGORY)
#define MSG_DEFAULT_MODULE_THRESHOLD   (0ul)

/*----------------------------------------------------------------------*/
/* MACRO: Called when the module status changes. If used, populate with */
/*        a U32SIF_STANDARD_INTERFACE function                          */
/*      pData:      pointer to a UINT32 variable (contains status)      */
/*      Qualifier:  Qualifier data                                      */
/*----------------------------------------------------------------------*/
#define MSG_STATUS_CHANGE(pData, Qualifier) \
    /* TEST: Do nothing */

/*----------------------------------------------------------------------*/
/* MACRO: Called during warm init.  Configure the initialisation routines
/*        that are to be invoked during warm init.
/*----------------------------------------------------------------------*/
#define MSG_WARM_INIT()    msg_ArbitratorInitialise();  \
	                       msg_SequencerInitialise();\
                           msg_StoreInitialise();\
                           msg_TaskInitialise();\

/*----------------------------------------------------------------------*/
/* MACRO: Called during wakeup init.  Configure the initialisation routines
/*        that are to be invoked during wakeup init.
/*----------------------------------------------------------------------*/
#define MSG_WAKEUP_INIT()   msg_ArbitratorInitialise(); 

/*----------------------------------------------------------------------*/
/* MACRO: Called during sleep init.  Configure the initialisation routines
/*        that are to be invoked during initialisation from sleep mode.
/*----------------------------------------------------------------------*/
#define MSG_SLEEP_INIT()   msg_ArbitratorInitialise(); 
#else
/*--------------------------------------*/
/* Public DEFINITIONS                   */
/*--------------------------------------*/


#endif /* hmi_msgTask_C */

/*==========================================================================*/
/* D A T A   A C C E S S   M A C R O S                                      */
/*==========================================================================*/

#if defined hmi_msgTask_C
/*--------------------------------------*/
/* Private MACROS                       */
/*--------------------------------------*/

#else
/*--------------------------------------*/
/* Public MACROS                        */
/*--------------------------------------*/


#endif /* hmi_msgTask_C */


/*==========================================================================*/
/* R E V I S I O N    N O T E S                                             */
/*==========================================================================*/
/* For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**==========================================================================*/

/****************************************************************************
**  Date  : 19/Oct/2010
**  by    : AFERRIS2
**  Ref   : None.
**  Change: Initial version.
**
*****************************************************************************/
  
/****************************************************************************
**  Date: 25/Jun/2014     by: adevi           Ref: Bug 196  , RTC 172041
**  Initialisation routines of warm, wake up and sleep init made configurable.
*****************************************************************************/


#endif /* hmi_msgTask_CFG */
/* end of file =============================================================*/
