/****************************************************************************

  CONFIDENTIAL - Visteon

  This is unpublished work, which is a trade secret, created in 1998.
  Visteon owns all rights to this work and intends to
  maintain it in confidence to preserve its trade secret status.
  Visteon reserves the right to protect this work as an unpublished
  copyrighted work in the event of an inadvertent or deliberate
  unauthorized publication.  Visteon also reserves its right
  under the copyright laws to protect this work as a published work.
  Those having access to this work may not copy it, use it, or disclose
  the information contained in it without the written authorization of
  Visteon.

  Copyright 1998, Visteon

****************************************************************************/
/****************************************************************************
NAME:         hm_swtmr.cfg
CONTENTS:     This file is used to configure HMI subsytems specific software timers.
ORGANIZATION: Driver Information Software Section,
DOCUMENATION: See bottom of file.
$Revision:   1.0  $
****************************************************************************/
#ifndef HMI_SWTMR_CFG
#define HMI_SWTMR_CFG

/*===========================================================================
                I N C L U D E   F I L E S
**==========================================================================*/

/*The following Helper macros shall be used when we configure timeout */

#define HM_SECONDS(x)       ( (UINT16)(( (UINT32)(x) * 1000ul) / 512ul) )

#define HM_MS(x)            ( ((UINT16)(x) / (UINT16)4u) )

#define TO_MILLISEC(x)      ( TIMER_13BIT_BASE_4MS | HM_MS(x) )

#define TO_SECONDS(x)       ( TIMER_13BIT_BASE_512MS | HM_SECONDS(x) )

/* Kernal timers */
#define HMI_START_SW_TIMER(timeout, timer)  KernelStart13BitTimer(timeout, timer)
#define HMI_CLEAR_SW_TIMER(timer)           KernelClear13BitTimer(timer)
#define HMI_CHECK_SW_TIMER(timer)           KernelCheck13BitTimer(timer)


/*-------------------------------------------------------------------------*/
/*                                                                         */
/* NAME:         PROD_SPEC_SW_TIMERS                                       */
/*                                                                         */
/* TYPE:         MACRO                                                     */
/*                                                                         */
/* DESCRIPTION:  This macro is used to allocate product specific           */
/*               software timers.  Each name in the list allocates a       */
/*               software timer which is then used by name as the          */
/*               "timer_id" arguement to the "KernelStart13BitTimer"       */
/*               "KernelCheck13BitTimer", and "KernelClear13BitTimer"      */
/*               services.                                                 */
/*                                                                         */
/*               The following naming convention is used for software      */
/*               timers:                                                   */
/*                                                                         */
/*               "name_KSWTIMER"                                           */
/*                                                                         */
/*               where:                                                    */
/*                                                                         */
/*               "name" is the name of software timer.                     */
/*               "_KSWTIMER" is a fixed suffix indicating the item is a    */
/*               software timer allocated through the kernel.              */
/*                                                                         */
/*                                                                         */
/* REQUIRED:     YES (however, the list can be NULL)                       */
/*                                                                         */
/*-------------------------------------------------------------------------*/
#define  HM_SS_SWTMR_LIST                       \
         hmi_menu_start_KSWTIMER,               \
         hmi_msg_app_Ign_off_warn_KSWTIMER,     \
         hmi_etm_dtc_1sec_KSWTIMER,             \
         hmi_etm_afe_bias_1sec_KSWTIMER,        \
         hmi_blink_72ms_KSWTIMER,               \
         hmi_gear_value_flash_500ms_KSWTIMER,   \
         hmi_gear_number_flash_250ms_KSWTIMER,  \
         hmi_tsr_speed_dgt_flash_500ms_KSWTIMER,\
         hmi_drv_ast_flash_500ms_KSWTIMER,      \
         hmi_set_pgrs_bar_KSWTIMER,             \
         hmi_compass_swing_bar_KSWTIMER,        \
         hmi_ecoscout_KSWTIMER,                 \
         HMI_GFX_LOCKUP_RECOVER_KSWTIMER,       \
         hmi_rearseat_flash_KSWTIMER,           \
         hmi_trip_reset_KSWTIMER,               \
    	 hmi_info_menu_tgl_2sec_KSWTIMER,		\
    	 hmi_info_menu_one_tgl_4sec_KSWTIMER,   \
    	 hmi_tpms_tire_flash_600_400_KSWTIMER,  \
         hmi_scroll_bar_1sec_KSWTIMER,          \
         hmi_menu_6sec_KSWTIMER,                \



/****************************************************************************
 P V C S     R E V I S I O N     N O T E S
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
For each change to this file, be sure to record:
1.   Who made the change and when the change was made.
2.   Why the change was made and the intended result.

Date       By           Reason For Change
05/14/10  gyuvamat      Added timer for button open short check.

----------------------------------------------------------------------------
** 2012_FORD_C520_IC_SYS_L1_BASELINE_0.0.3    02/25/2010     gvasude1
** Added the subsystems header files and the timer list macros
**
** 2012_FORD_C520_IC_SYS_L1_BASELINE_0.0.0    02/11/2010     gvasude1
** Initial version for the base build integration
**
****************************************************************************/
/*---------------------------------------------------------------------------
Date              : 06.07.10
By                : spandian
Traceability      : DI_2012_C520_hmi_message_app_DD.doc
Change Description: hmi_msg_ap timers added
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              : 16.08.10
By                : spandian
Traceability      : PR ID 34170
Change Description: Timer timeout configureation Helper macros are added
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              : 29.12.10
By                : jpradeep
Traceability      : Settings Mykey Menu
Change Description: Added timer hmi_set_pgrs_bar_KSWTIMER
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              : 1.2.11
By                : abalaji
Traceability      : compass swinging progress bar
Change Description: Added timer hmi_compass_swing_bar_KSWTIMER
-----------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------
Date              : 11-2-11
CDSID             : gyuvamat
Traceability      : ECOSCOUT
Change Description: Implementation for ECOSCOUT.
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              : 23-2-11
CDSID             : snagaraj
Traceability      : TSR
Change Description: Implementation for TSR.
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date               : 15-3-2011
By                 : gyuvamat
Traceability       : BSDI00095942
Change Description : Removed DTc and stuck functionality.
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date               : 05-MAY-2011
By                 : vsarava2
Traceability       :
Change Description : Removed unused timers. Total 7 timers.
                     (LCD05_KSWTimer, hmi_lcd_if_KSWTIMER,
                     hmi_lcd_transmit_KSWTIMER, hmi_etm_display_alternate_KSWTIMER,
                     hmi_msg_Sequence_KSWTIMER, hmi_remotestart_KSWTIMER,
                     hmi_remotestart_wait_toclose_KSWTIMER)
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date               : 8-Jun-2011
By                 : vsarava2
Traceability       : BSDI00098616-Flashing Sync
Change Description : Added drv_ast_500ms timer for flashing speed value. This
                     timer earlier configured in flash timer and is removed now.
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date               : 17-6-2011
By                 : gramkuma
Traceability       : BSDI00105356
Change Description : Added timer hmi_rearseat_flash_KSWTIMER for rear seat flashing.
-----------------------------------------------------------------------------*/

#endif