/****************************************************************************

	 CONFIDENTIAL - Visteon

  This is unpublished work, which is a trade secret, created in 1998.
  Visteon owns all rights to this work and intends to
  maintain it in confidence to preserve its trade secret status.
  Visteon reserves the right to protect this work as an unpublished
  copyrighted work in the event of an inadvertent or deliberate
  unauthorized publication.  Visteon also reserves its right
  under the copyright laws to protect this work as a published work.
  Those having access to this work may not copy it, use it, or disclose
  the information contained in it without the written authorization of
  Visteon.

	 Copyright 1998, Visteon

****************************************************************************/
/****************************************************************************

NAME:         swtmr$.cfg

CONTENTS:     This file is used to configure product specific software timers.

ORGANIZATION: Driver Information Software Section,

DOCUMENATION: See bottom of file.

$Revision:   1.0  $

****************************************************************************/
#ifndef SWTMR_CFG
#define SWTMR_CFG

/***************************************************************************
                I N C L U D E   F I L E S
***************************************************************************/
#include "hm_swtmr.cfg"


/***************************************************************************
   P U B L I C   M A C R O   A N D   T Y P E   D E F I N I T I O N S
***************************************************************************/

#define KERNEL_58SEC_TIMEOUT   113


/*-------------------------------------------------------------------------*/
/*                                                                         */
/* NAME:         PROD_SPEC_SW_TIMERS                                       */
/*                                                                         */
/* TYPE:         MACRO                                                     */
/*                                                                         */
/* DESCRIPTION:  This macro is used to allocate product specific           */
/*               software timers.  Each name in the list allocates a       */
/*               software timer which is then used by name as the          */
/*               "timer_id" arguement to the "KernelStart13BitTimer"       */
/*               "KernelCheck13BitTimer", and "KernelClear13BitTimer"      */
/*               services.                                                 */
/*                                                                         */
/*               The following naming convention is used for software      */
/*               timers:                                                   */
/*                                                                         */
/*               "name_KSWTIMER"                                           */
/*                                                                         */
/*               where:                                                    */
/*                                                                         */
/*               "name" is the name of software timer.                     */
/*               "_KSWTIMER" is a fixed suffix indicating the item is a    */
/*               software timer allocated through the kernel.              */
/*                                                                         */
/*                                                                         */
/* REQUIRED:     YES (however, the list can be NULL)                       */
/*                                                                         */
/*-------------------------------------------------------------------------*/
#define  PROD_SPEC_SW_TIMERS   			       \
         HM_SS_SWTMR_LIST					   \

#define KERNEL_4MSEC_TIMEOUT_BASE	TIMER_13BIT_BASE_4MS
#define KERNEL_10SEC_TIMEOUT_BASE 	TIMER_13BIT_BASE_4MS
#define KERNEL_10SEC_TIMEOUT		2500
#define KERNEL_5SEC_TIMEOUT_BASE	TIMER_13BIT_BASE_4MS
#define KERNEL_5SEC_TIMEOUT			1250

/****************************************************************************
 P V C S     R E V I S I O N     N O T E S
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
For each change to this file, be sure to record:
1.   Who made the change and when the change was made.
2.   Why the change was made and the intended result.

Date       By     Reason For Change
mmm/dd/yy  XXX    -----------------

----------------------------------------------------------------------------

PVCS Rev 1.0

Jul/29/98   GEP   Initial Revision

****************************************************************************/


#endif
