/****************************************************************************

	 CONFIDENTIAL - Visteon

  This is unpublished work, which is a trade secret, created in 1998.
  Visteon owns all rights to this work and intends to
  maintain it in confidence to preserve its trade secret status.
  Visteon reserves the right to protect this work as an unpublished
  copyrighted work in the event of an inadvertent or deliberate
  unauthorized publication.  Visteon also reserves its right
  under the copyright laws to protect this work as a published work.
  Those having access to this work may not copy it, use it, or disclose
  the information contained in it without the written authorization of
  Visteon.

	 Copyright 1998, Visteon

****************************************************************************/
/****************************************************************************

NAME:         swtmr$.cfg

CONTENTS:     This file is used to configure product specific software timers.

ORGANIZATION: Driver Information Software Section,

DOCUMENATION: See bottom of file.

$Revision:   1.0  $

****************************************************************************/
#ifndef SWTMR_CFG
#define SWTMR_CFG

#endif
