/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2013. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_gfx_anim_engine.h
**
** Description:    public interface header for the animation engine
**
** Organization:   Driver Information Software Section,
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_GFX_ANIM_ENGINE_CFG
#define HMI_GFX_ANIM_ENGINE_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/
#include "hmi_gfx_mgr02_layout.h"
#include "hmi_logic_state_handler.h"
#include "hmi_gfx_anim_engine_cfg.h"

/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/
#ifdef  __cplusplus
extern "C" {
#endif

#ifdef GFX_ANIM_DEBUG
 #define GFX_ANIM_DEBUG_PRINT printf
#else
 #define GFX_ANIM_DEBUG_PRINT
#endif

#ifdef HMI_GFX_ANIM_DONE_STATUS
extern void hmi_gfx_mgr02_app_anim_done_cb(UINT32 p_anim_id, UINT32 p_client_id);

#define HMI_GFX_ANIM_ENGINE_DONE_CB(anim_id, client_id) \
{                                                       \
   hmi_lsh_animation_done_cb(0, (client_id), (anim_id)); \
   hmi_gfx_mgr02_app_anim_done_cb((anim_id), (client_id)); \
}
#else
 #define HMI_GFX_ANIM_ENGINE_DONE_CB(anim_id, client_id)
#endif

#define HMI_GFX_ANIM_SET_SCREEN(sid)   (void)hmi_gfx_mgr02_layout_set_screen((GFX_MGR02_SCR_ELEM_ID)(sid), (UINT32)1)
#define HMI_GFX_ANIM_SET_CLIENT(cid)   (void)hmi_gfx_mgr02_layout_set_screen((GFX_MGR02_SCR_ELEM_ID)LSH_GET_STATE_ID(cid), 1)

#define HMI_GFX_ANIM_SET_OFFSET_POS(id, offx, offy)    \
{                                                      \
   GFX_MGR02_ILOC_DATA fl_pos;                         \
   if(hmi_gfx_mgr02_layout_get_obj_pos(id, &fl_pos) == GUI_GFX_MGR_NO_ERROR) \
   { \
      fl_pos.x+=(SINT16)offx;                     \
      fl_pos.y+=(SINT16)offy;                     \
      (void)hmi_gfx_mgr02_layout_set_obj_pos(id, (GFX_MGR02_ILOC_DATA const *)&fl_pos);  \
   } \
}

#if (GFX_MGR02_NUM_TILE_ANIM_ELEMENTS > 0) || \
    (GFX_MGR02_NUM_FILL_ANIM_ELEMENTS > 0) || \
    ((GFX_MGR02_NUM_WIDGET_ANIM_ELEMENTS > 0) && defined(GFX_MGR02_CLIPPED_WIDGETS))
#else
   #define hmi_gfx_mgr02_layout_get_obj_area(x, y) !GUI_GFX_MGR_NO_ERROR
   #define hmi_gfx_mgr02_if_set_obj_area(x, y)
#endif

#define HMI_GFX_ANIM_SET_OFFSET_AREA(id, offx, offy, offw, offh)                 \
{                                                                                \
   GFX_MGR02_IAREA_DATA fl_area = {0};                                                 \
   if(hmi_gfx_mgr02_layout_get_obj_area(id, &fl_area) == GUI_GFX_MGR_NO_ERROR)   \
   {                                                                             \
      fl_area.x      += (SINT16)offx;                                                    \
      fl_area.y      += (SINT16)offy;                                                    \
      fl_area.width  += offw;                                                    \
      fl_area.height += offh;                                                    \
      (void)hmi_gfx_mgr02_layout_set_obj_area(id, (GFX_MGR02_IAREA_DATA const *)&fl_area);                               \
   }                                                                             \
}
#if (GFX_MGR02_NUM_TILE_ANIM_ELEMENTS > 0) || (GFX_MGR02_NUM_FILL_ANIM_ELEMENTS > 0)
#else
 #define hmi_gfx_mgr02_layout_get_obj_dim(x, y) !GUI_GFX_MGR_NO_ERROR
 #define hmi_gfx_mgr02_if_set_obj_dim(x, y)
#endif
#define HMI_GFX_ANIM_SET_OFFSET_WH(id, offw, offh) \
{                                                                                \
   GFX_MGR02_IDIM_DATA fl_dim;	                                                 \
      fl_dim.width = (UINT16)0;                                                          \
      fl_dim.height = (UINT16)0;                                                         \
   if(hmi_gfx_mgr02_layout_get_obj_dim(id, &fl_dim) == GUI_GFX_MGR_NO_ERROR)     \
   {                                                                             \
      fl_dim.width  += (UINT16)offw;                                                     \
      fl_dim.height += (UINT16)offh;                                                     \
      (void)hmi_gfx_mgr02_layout_set_obj_dim(id, (GFX_MGR02_IDIM_DATA const *)&fl_dim);                                 \
   }                                                                             \
}

#if (GFX_MGR02_NUM_DYNAMIC_WIDGETS > 0)
    #define HMI_GFX_ANIM_SET_DWIDGET_DATA(i, d)  (void)hmi_gfx_mgr02_layout_select_dwidget((GFX_MGR02_DWDG_ELEM_ID)(i),((UINT32)d));
#else   
    #define HMI_GFX_ANIM_SET_DWIDGET_DATA(i, d) 
#endif

#if GFX_MGR02_NUM_DYNAMIC_IMAGES > 0
    #define HMI_GFX_ANIM_SET_DIMAGE_DATA(i, d)  (void)hmi_gfx_mgr02_layout_select_dimage((GFX_MGR02_DIMG_ELEM_ID)(i),((UINT32)d));
#else   
    #define HMI_GFX_ANIM_SET_DIMAGE_DATA(i, d) 
#endif

#define HMI_GFX_ANIM_SET_DATA(id, data)                      \
{                                                            \
   if(GFX_MGR02_GET_OBJ_TYPE(id) == GFX_MGR02_TYPE_DWIDGET)  \
   { \
      HMI_GFX_ANIM_SET_DWIDGET_DATA((GFX_MGR02_DWDG_ELEM_ID)(id), (UINT32)(data)) \
   } \
   else if(GFX_MGR02_GET_OBJ_TYPE(id) == GFX_MGR02_TYPE_DIMAGE) \
   { \
      HMI_GFX_ANIM_SET_DIMAGE_DATA((GFX_MGR02_DIMG_ELEM_ID)(id), (UINT32)(data)) \
   } \
   else \
   { \
      (void)hmi_gfx_mgr02_layout_set_screen((GFX_MGR02_SCR_ELEM_ID)(id), (UINT32)(data)); \
   } \
}

#if ((GFX_MGR02_NUM_WIDGET_ANIM_ELEMENTS > 0) || (GFX_MGR02_NUM_IMAGE_ANIM_ELEMENTS > 0) || (GFX_MGR02_NUM_TEXT_ANIM_ELEMENTS > 0))
  #define HMI_GFX_ANIM_SET_COLOR(id, color)          (void)hmi_gfx_mgr02_layout_set_obj_draw_color((GFX_MGR02_ANIM_ELEM_ID)(id), (color))
#else
  #define HMI_GFX_ANIM_SET_COLOR(id, color)       GFX_MGR02_UNUSED_VAR(color);
#endif
#define HMI_GFX_ANIM_SET_ALPHA(id, alpha)          (void)hmi_gfx_mgr02_layout_set_obj_alpha((GFX_MGR02_ANIM_ELEM_ID)(id), (UINT32)(alpha))

#define HMI_GFX_ANIM_SET_MATRIX(id, matrix)        (void)hmi_gfx_mgr02_layout_set_obj_transformation((GFX_MGR02_ANIM_ELEM_ID)(id), (float *)(matrix))
#define HMI_GFX_ANIM_GET_MATRIX(id)                ((float const *)hmi_gfx_mgr02_layout_get_obj_transformation((GFX_MGR02_ANIM_ELEM_ID)(id)))
#define HMI_GFX_ANIM_MUL_MATRIX(id, matrix)        (void)hmi_gfx_mgr02_layout_mul_obj_transformation((GFX_MGR02_ANIM_ELEM_ID)(id), (matrix))

/*============================================================================
** E N T R Y   P O I N T S
**==========================================================================*/

/*============================================================================
** D A T A   A C C E S S   S E R V I C E S
**==========================================================================*/

/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
**
** CMS Rev 1.0      27-Nov-12    EMANOJ1
** Creation.
**
**==========================================================================*/
#ifdef  __cplusplus
}
#endif

/* end of file =============================================================*/
#endif
