<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<variables> 
	<variable name="SystemName" value="E40_Platform_System"/>
	<variable name="SystemPkgName" value="E40_Platform_System_SystemPackage"/> 
	<variable name="ArchPkgName" value="E40_Platform_System_SoftwareArchitecture"/> 
	<variable name="TypesPkgPath" value= "/E40_Platform_System_SystemPackage/Types/"/>
	<variable name="ComponentsPkgPath" value= "/E40_Platform_System_SystemPackage/Components/"/>
	<variable name="DataTypesPkgPath" value= "/E40_Platform_System_SystemPackage/AUTOSAR/"/>
	<variable name="ProgramName" value= "E40"/>		
</variables>