/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2010. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_menu_core_01.cfg
**
** Description:    Configuration file for the Menu Core
**
** Organization:   Driver Information Software Section,
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_MENU_CORE_01_CFG
#define HMI_MENU_CORE_01_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/
#include "system.h"
#include "hmi_logic_state_handler.h"
#include "hmi_menu_def_1.inc"
#include "hmi_menu_core_01_types.h"
#include "hmi_menu_core_01_app_types.h"	




/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/


#define HMI_MENU_UP_BUTTON             ButtonID_UP
#define HMI_MENU_DOWN_BUTTON           ButtonID_DOWN
#define HMI_MENU_LEFT_BUTTON           ButtonID_LEFT
#define HMI_MENU_RIGHT_BUTTON          ButtonID_RIGHT
#define HMI_MENU_OK_BUTTON             ButtonID_OK

#define HMI_MENU_UP_BTN_REL            UP_RELEASE
#define HMI_MENU_DOWN_BTN_REL          DOWN_RELEASE
#define HMI_MENU_LEFT_BTN_REL          LEFT_RELEASE
#define HMI_MENU_RIGHT_BTN_REL         RIGHT_RELEASE

#ifdef HMI_MENU_HISTORY_HANDLING_FEATURE
  #define HMI_MENU_HISTORY_STORE_MENU_ID(x)     hmi_menu_app_store_MenuID(x)
  #define HMI_MENU_HISTORY_STORE_MENU_ITEM(x,y) hmi_menu_app_store_menu_item(x, y)
#endif

/* This is to enable  MENU_DO_FRAME_EXPAND_ANIMATION.*/ 
#define HMI_MENU_DO_FRAME_EXPAND_ANIMATION

#ifdef 	LSH_ANIMATION_SUPPORT_ENABLED
  #define HMI_MENU_ANIMATION_INVALID                  ANIM_MAX_ID /* 00 */
  #define HMI_MENU_ANIMATION_ABORT                    ANIM_ABORT_ID /* HMI_MENU_ANIMATION_INVALID */
/* configure the function to a status application function to
   know whether the wait timer is running or not. It is used
   for please wait state entry, if the project doesn't require
   it shall define as FALSE */
  #define HMI_MENU_WAIT_TEMP_TIMER_RUN_STATUS(fl_timer_id_U8)         FALSE

  /* Map the Animation value */
  #define HMI_MENU_WIPER_LEFT_ANM(X)                    ANIM_MAX_ID
  #define HMI_MENU_WIPER_RIGHT_ANM(X)                   ANIM_MAX_ID
  #define HMI_MENU_DOUBLE_WIPER_ANM(X)                  ANIM_MAX_ID
  #define HMI_MENU_PLEASE_WAIT_ANM(X)                   ANIM_MAX_ID
  #define HMI_MENU_FOCUS_FRAME_MOVE_UP_ANIM(X)          ANIM_MAX_ID
  #define HMI_MENU_FOCUS_FRAME_MOVE_DOWN_ANIM(X)        ANIM_MAX_ID
  #define HMI_MENU_LIST_WNDW_MOVE_UP_ANIM(X)            ANIM_MAX_ID
  #define HMI_MENU_LIST_WNDW_MOVE_DOWN_ANIM(X)          ANIM_MAX_ID
  #define HMI_MENU_ITEM_WRAP_ROUND_UP_ANIM(X)           ANIM_MAX_ID
  #define HMI_MENU_ITEM_WRAP_ROUND_DOWN_ANIM(X)         ANIM_MAX_ID
  #define HMI_MENU_FAST_SCROLL_UP_ANIM(X)               ANIM_MAX_ID
  #define HMI_MENU_FAST_SCROLL_DOWN_ANIM(X)             ANIM_MAX_ID
  #define HMI_MENU_SCALE_ADJUST_RIGHT_ANIM(X)           ANIM_MAX_ID
  #define HMI_MENU_SCALE_ADJUST_LEFT_ANIM(X)            ANIM_MAX_ID
  #define MENU_DO_FRAME_EXPAND_ANIMATION               	ANIM_MAX_ID
  #define HMI_MENU_INSTANCE_OPEN_ANIM                  	ANIM_MAX_ID
  #define ANIM_FAST_SCROLL_STOP_ID(X)                   ANIM_MAX_ID
  #define  HMI_MENU_REBUILD_ANIM(X)						ANIM_MAX_ID

  
#endif



#ifdef HMI_MENU_FAST_SCROLL_ENABLE

  /* If this declaration creates compilation error then 
     assign the hard values */
  #define HMI_MENU_GET_BTN_ID(x)         ((x & 0xFF00) >> 8)  /*LSH_GET_ID(x)*/
  #define HMI_MENU_GET_BTN_STATUS(x)     (x & 0x000F)         /*LSH_GET_STATUS(x)*/
  #define HMI_MENU_GET_BTN_CMD(id, sts)  ((id << 8)|sts)      /*LSH_GET_COMMAND(id, sts)*/

  #define HMI_MENU_MC_BTN_LONG                 ButtonStateLongEvent

  #define HMI_MENU_FS_CNT_START_TIMER_VALUE    700
  #define HMI_MENU_FS_CNT_INCR_TIMER_VALUE     200
  #define HMI_MENU_FS_RUN_WAIT_TIMER_VALUE     500

  #define HMI_MENU_FS_START_TIMER(timerid,value)		//KernelStart13BitTimer(TIMER_13BIT_BASE_4MS, (value/4), timerid)
  #define HMI_MENU_FS_STOP_TIMER(timerid)				//KernelClear13BitTimer(timerid)

#endif


#ifdef HMI_MENU_FLOATING_MENU_FEATURE
  HMI_MENU_LOGIC_GET_FLOATING_MENU_FOCUS_ENTRY(menu_id,index)    1
#endif


/* Configure the value to get timeout */ 
#define HMI_MENU_WAIT_TEMP_TIMER_VALUE                            1

#define HMI_MENU_START_TIMER(menuid, timerid,value)                    hmi_menu_app_start_timer(menuid, timerid,value)
#define HMI_MENU_STOP_TIMER(menuid, timerid)                           hmi_menu_app_stop_timer(menuid, timerid)
/* Timer config for Please Wait state */
#define HMI_MENU_START_WAIT_TEMP_TIMER(menu_id,timerid,value)
#define HMI_MENU_STOP_WAIT_TEMP_TIMER(menu_id,timerid)

#ifdef HMI_MENU_CORE_NOTIFY_MENU_FOCUS
#define HMI_MENU_LOGIC_NOTIFY_MENU_FOCUS(menu_id_U8, focus_U8)
#endif

 /*Added for UP375. As per UP375 requirement, menu core has to restart
  the timer only for buttons with defined functions within the screen.
 Eg.
	1)	MENU_BTN_PROCESS_MENU   Restart the timer and process the button for the current active menu
	2)	MENU_BTN_NONE           Do not restart the timer (or do not change the timer status) and
 pass the button event to its lower priority screens
	3)	MENU_BTN_ABSORBED       Do not restart the timer (or do not change the timer status) and
 absorb the button
 Below macro is used to enable this functionality.*/
/*#define HMI_MENU_NOT_RESTART_TIMER_ON_NONE_ABSORBED*/

/* Added this for P42. Instead of menu core doing the lsh freeze, application will do freeze based on their requirement*/ 
/*#define HMI_MENU_LSH_FREEZE_CONFIG*/
#ifdef HMI_MENU_LSH_FREEZE_CONFIG
   #define HMI_MENU_LOGIC_NOTIFY_LSH_BUTTON_FREEZE(fl_menu_lsh_freeze_ptr)
#endif


/* On reload's rebuild ,if focused item is greyed out, then next focus item	  */
/* is decided based on below configuration. If left unconfigured then focused */
/* item is same as greyed out item                                            */
/*HMI_MENU_FOCUS_ENTRY_DECR_TILL_VALID- Decrement focus till valid focus item */
/*HMI_MENU_FOCUS_ENTRY_INCR_TILL_VALID- Increment focus till valid focus item */
/*HMI_MENU_FOCUS_ENTRY_REBUILD_DEFUALT- same as greyed out item               */

#define HMI_MENU_SET_FOCUS_ENTRY_REBUILD_GREYOUT               HMI_MENU_FOCUS_ENTRY_REBUILD_DEFUALT

/* On reload to parent menu, if the focused item is greyout, then focus entry */
/* is decided based on below configuration. If left unconfigured then focused */
/* item is same as greyed out item                                            */
/*HMI_MENU_FOCUS_ENTRY_TO_ZER0 - Set focus to first item. i.e., back button in Hyundai AE */
/*HMI_MENU_FOCUS_ENTRY_RELOAD_DEFUALT- same as greyed out item               */

#define HMI_MENU_SET_FOCUS_ENTRY_RELOAD_GREYOUT				   HMI_MENU_FOCUS_ENTRY_RELOAD_DEFUALT

/*#define HMI_MENU_OPEN_PARENT_ON_TIMEOUT*/

/* Item config feature is intended to be used only for static menu and not */
/* for dynamic menu. For programs that have used item config for dynamic   */
/* menu previously need to enable the below macro for the feature to work  */
/* for dynamic menus. If item config feature is used only for static menus */
/* then the below macro need not be enabled                                */
/* #define HMI_MENU_ITEM_CONFIG_FEATURE_FOR_DYN_MENU*/

/*Below macro allows user to specify the menu level to be opened in the 
  LEFT_LONG action. By default, it will open the top most parent(root menu).*/
/*#define HMI_MENU_GET_MENU_LEVEL_TO_MOVE(menu_id)  hmi_menu_app_get_menu_level_to_move(menu_id)*/

/*
Enable this macro if animation has to be triggered without checking menu core anim state. 
This is added to support Hyundai requirement.
#define HMI_MENU_DISABLE_ANIM_ST_CHECK
*/
/*============================================================================
** E N T R Y   P O I N T S
**==========================================================================*/
/*============================================================================
** D A T A   A C C E S S   S E R V I C E S
**==========================================================================*/

/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
**
** CMS Rev 1.0      29-MAR-10    jpradeep
** Creation.
**
**==========================================================================*/
/*---------------------------------------------------------------------------
Date              : 03-04-11
CDSID             : jpradeep
Traceability      : CQ100009
Change Description: Configured Button release macros.
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              : 21-02-13
CDSID             : csakthiv
Traceability      : Multiinstance
Change Description: Modified for multiinstance and floating menu .
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              : 06-07-13
CDSID             : csakthiv
Traceability      : 
Change Description: Menu Instance Queue added, PR defect Fix,Focus line Centre,
Table for handling buttons in Anim state and QAC warning for Sid and text.ANIM_WAIT state for TVM

-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              : 12-03-14
CDSID             : csakthiv
Traceability      :
Change Description: Moved the macros defined in cfg to menu core tool configurator and generated in
                    menu_core_def.inc
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              : 10-12-14
CDSID             : csakthiv
Traceability      : Task id:254797
Change Description: If item is greyedout on rebuild, then menu core will move to next valid item.
                    If item is greyout on reload, then menu core will focus entry to first item.
					Both the above requirement is applied only when configured in .cfg.
					Refer $.cfg file for configuration details.Refer attached excel in taskid for requirement
-----------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------
Date              : 23-04-15
CDSID             : arajase2
Traceability      : 312965: UP375: Menu core timer start
Change Description: Added new macro HMI_MENU_NOT_RESTART_TIMER_ON_NONE_ABSORBED to avoid 
restarting the menu when cb result is MENU_BTN_NONE or MENU_BTN_ABSORBED.
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              : 04-09-15
CDSID             : arajase2
Traceability      : 312965: UP375: Menu core timer start
Change Description: Added new macro HMI_MENU_SMOOTH_FAST_ANIMATION to do smooth animation
  when we do fast button processing. If we enable this macro, menu core will wait for
  closing current animation and open the recent screen id. This avoids the activate/deactivate
  the intermediate screen id.
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              :  10-May-17
By                :  arajase2
Traceability      :  863415: CMFB MISRA Warning fixes - menu.core
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------
Date              :  02-Nov-17
By                :  kkubendi
Traceability      :  985437: Menu Core closing the current instance during menu timer time out condition.
Description       :  Added new macro HMI_MENU_OPEN_PARENT_ON_TIMEOUT to open immediate parent menu when
                     Sub menu timed out.
-----------------------------------------------------------------------------*/
/* end of file =============================================================*/
#endif
