[Unit]
Description=Test application 17

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/system/usr/lib:$LD_LIBRARY_PATH"
ExecStart=/system/usr/bin/wdg_test_FT/test_17 17
Restart=always
WatchdogSec=1

StandardOutput=journal
StandardError=journal