[rc]

path="res://safe_hmi_E4.0/Images/tt_ico_a16_l.png"
_rc_texture_anisoLevel=0
_rc_texture_minFilter=9728
_rc_texture_magFilter=9728
_rc_texture_wrapS=10497
_rc_texture_wrapT=10497
_rc_texture_mimeType=0
_rc_texture_srgbData=false
