/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2010. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**==========================================================================*/

/*============================================================================
**
** Name:           WarningCANTx.cfg
**
** Description:    This is an autogenerated file. Do not hand modify...
**                  
** Organization:   Driver Information Software Section,
**                 Visteon
**
**============================================================================
**
**==========================================================================*/


#define WARN_CANTX_CFGD 57U


/*
// #define  CANTX_WRN_NORM_BVOOPE_02                 \
//          {                                        \
//             Mdl_wBodySysVoiceOp_GetButtonStatus  ,\
//             WRN_NORM_BVOOPE_02                   \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_02               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_02                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_03               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_03                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_04               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_04                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_05               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_05                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_08               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_08                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_09               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_09                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_10               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_10                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_11               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_11                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_12               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_12                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_13               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_13                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_22               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_22                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_23               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_23                 \
//          }

// #define  CANTX_WRN_NORM_GPF_MEV01_02              \
//          {                                        \
//             Mdl_vGPF_GetButtonStatus             ,\
//             WRN_NORM_GPF_MEV01_02                \
//          }

// #define  CANTX_WRN_NORM_GPF_MEV01_05              \
//          {                                        \
//             Mdl_vGPF_GetButtonStatus             ,\
//             WRN_NORM_GPF_MEV01_05                \
//          }

// #define  CANTX_WRN_NORM_GPF_MEV01_08              \
//          {                                        \
//             Mdl_vGPF_GetButtonStatus             ,\
//             WRN_NORM_GPF_MEV01_08                \
//          }

// #define  CANTX_WRN_NORM_TSMODE_VM01_02            \
//          {                                        \
//             Mdl_aTss_GetButtonStatus             ,\
//             WRN_NORM_TSMODE_VM01_02              \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_02             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_02               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_03             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_03               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_04             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_04               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_06             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_06               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_07             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_07               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_08             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_08               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_09             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_09               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_10             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_10               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_11             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_11               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_12             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_12               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_13             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_13               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_14             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_14               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_15             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_15               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_16             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_16               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_17             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_17               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_18             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_18               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_19             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_19               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_20             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_20               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_21             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_21               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_22             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_22               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_23             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_23               \
//          }

// #define  CANTX_WRN_CUSTMIZE_PERSET_24             \
//          {                                        \
//             CPersonalSetting_GetButtonStatus     ,\
//             WRN_CUSTMIZE_PERSET_24               \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_24               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_24                 \
//          }

// #define  CANTX_WRN_PROSRV_PROSRV_25               \
//          {                                        \
//             Mdl_wPropServOpAdv_GetButtonStatus   ,\
//             WRN_PROSRV_PROSRV_25                 \
//          }

// #define  CANTX_WRN_NORM_SMASTA_52                 \
//          {                                        \
//             Mdl_vSmartKeySystem_GetButtonStatus  ,\
//             WRN_NORM_SMASTA_52                   \
//          }

// #define  CANTX_WRN_NORM_SMASTA_53                 \
//          {                                        \
//             Mdl_vSmartKeySystem_GetButtonStatus  ,\
//             WRN_NORM_SMASTA_53                   \
//          }

// #define  CANTX_WRN_NORM_TDOOR_01                  \
//          {                                        \
//             Mdl_aClearanceSonar_GetButtonStatus  ,\
//             WRN_NORM_TDOOR_01                    \
//          }

// #define  CANTX_WRN_NORM_TDOOR_02                  \
//          {                                        \
//             Mdl_aClearanceSonar_GetButtonStatus  ,\
//             WRN_NORM_TDOOR_02                    \
//          }

// #define  CANTX_WRN_NORM_TDOOR_03                  \
//          {                                        \
//             Mdl_aClearanceSonar_GetButtonStatus  ,\
//             WRN_NORM_TDOOR_03                    \
//          }

// #define  CANTX_WRN_NORM_SEA_VM01_02               \
//          {                                        \
//             Mdl_aClearanceSonar_GetButtonStatus  ,\
//             WRN_NORM_SEA_VM01_02                 \
//          }

// #define  CANTX_WRN_NORM_SEA_VM02_02               \
//          {                                        \
//             Mdl_aClearanceSonar_GetButtonStatus  ,\
//             WRN_NORM_SEA_VM02_02                 \
//          }

// #define  CANTX_WRN_NORM_CLESON_02                 \
//          {                                        \
//             Mdl_aClearanceSonar_GetButtonStatus  ,\
//             WRN_NORM_CLESON_02                   \
//          }

// #define  CANTX_WRN_NORM_LCA_15                    \
//          {                                        \
//             Mdl_wLCA_GetButtonStatus             ,\
//             WRN_NORM_LCA_15                      \
//          }

// #define  CANTX_WRN_NORM_LCA_16                    \
//          {                                        \
//             Mdl_wLCA_GetButtonStatus             ,\
//             WRN_NORM_LCA_16                      \
//          }

// #define  CANTX_WRN_NORM_LCA_17                    \
//          {                                        \
//             Mdl_wLCA_GetButtonStatus             ,\
//             WRN_NORM_LCA_17                      \
//          }

// #define  CANTX_WRN_NORM_RSEREM_03                 \
//          {                                        \
//             Mdl_wRSR_GetButtonStatus             ,\
//             WRN_NORM_RSEREM_03                   \
//          }

// #define  CANTX_WRN_NORM_RSEREM_04                 \
//          {                                        \
//             Mdl_wRSR_GetButtonStatus             ,\
//             WRN_NORM_RSEREM_04                   \
//          }

// #define  CANTX_WRN_NORM_RSEREM_08                 \
//          {                                        \
//             Mdl_wRSR_GetButtonStatus             ,\
//             WRN_NORM_RSEREM_08                   \
//          }

// #define  CANTX_WRN_NORM_FACTORY                   \
//          {                                        \
//             CDcm_App_GetButtonStatus             ,\
//             WRN_NORM_FACTORY                     \
//          }

// #define  CANTX_WRN_NORM_PMAR_03                   \
//          {                                        \
//             Mdl_wPMAR_GetButtonStatus            ,\
//             WRN_NORM_PMAR_03                     \
//          }



//#define WARN_CANTXCFGD_LIST \
//    CANTX_WRN_NORM_BVOOPE_02                                                    ,\
//    CANTX_WRN_PROSRV_PROSRV_02                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_03                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_04                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_05                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_08                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_09                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_10                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_11                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_12                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_13                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_22                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_23                                                  ,\
//    CANTX_WRN_NORM_GPF_MEV01_02                                                 ,\
//    CANTX_WRN_NORM_GPF_MEV01_05                                                 ,\
//    CANTX_WRN_NORM_GPF_MEV01_08                                                 ,\
//    CANTX_WRN_NORM_TSMODE_VM01_02                                               ,\
//    CANTX_WRN_CUSTMIZE_PERSET_02                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_03                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_04                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_06                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_07                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_08                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_09                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_10                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_11                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_12                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_13                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_14                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_15                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_16                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_17                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_18                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_19                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_20                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_21                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_22                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_23                                                ,\
//    CANTX_WRN_CUSTMIZE_PERSET_24                                                ,\
//    CANTX_WRN_PROSRV_PROSRV_24                                                  ,\
//    CANTX_WRN_PROSRV_PROSRV_25                                                  ,\
//    CANTX_WRN_NORM_SMASTA_52                                                    ,\
//    CANTX_WRN_NORM_SMASTA_53                                                    ,\
//    CANTX_WRN_NORM_TDOOR_01                                                     ,\
//    CANTX_WRN_NORM_TDOOR_02                                                     ,\
//    CANTX_WRN_NORM_TDOOR_03                                                     ,\
//    CANTX_WRN_NORM_SEA_VM01_02                                                  ,\
//    CANTX_WRN_NORM_SEA_VM02_02                                                  ,\
//    CANTX_WRN_NORM_CLESON_02                                                    ,\
//    CANTX_WRN_NORM_LCA_15                                                       ,\
//    CANTX_WRN_NORM_LCA_16                                                       ,\
//    CANTX_WRN_NORM_LCA_17                                                       ,\
//    CANTX_WRN_NORM_RSEREM_03                                                    ,\
//    CANTX_WRN_NORM_RSEREM_04                                                    ,\
//    CANTX_WRN_NORM_RSEREM_08                                                    ,\
//    CANTX_WRN_NORM_FACTORY                                                      ,\
//    CANTX_WRN_NORM_PMAR_03                                                      ,\

*/
