/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2009. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
**  Name:               warn_msgDefinition.cfg
**
**  Description:
**
**  Organization:       Driver Information Software Section,
**                      DI Core Engineering Department
**
**===========================================================================*/
#ifndef warn_msgDefinition_CFG
#define warn_msgDefinition_CFG

/*==========================================================================*/
/* I N C L U D E   F I L E S                                                */
/*==========================================================================*/

/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/

#include "WarnMsg_Core_Observer_GetCurrIgnSts.h"
#include "WarnMsg_Core_Observer_Notify_Status_Cb.h"
#include "WarnMsg_Core_Observer_Warning_Get_status.h"
#include "Rte_Ctrl_warning_Type.h"
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


/*==========================================================================*/
/* T Y P E   D E F I N I T I O N S                                          */
/*==========================================================================*/

/*--------------------------------------------------------------------------*/
/* Define the set of message types that are present in the application.     */
/* These must be in DESCENDING priority order.                              */
/*--------------------------------------------------------------------------*/
#define MSG_MESSAGE_CATEGORIES \
        mcWInterrupt,    \
        mcSettingInterrupt ,\
        mcAdvisoryInterrupt
/*--------------------------------------------------------------------------*/
/* Define the number of messages for this application.                      */
/*--------------------------------------------------------------------------*/

#define WARN_MSG_ENABLE_NEW_MESSAGE_SEQ_QUEUE_TIMEOUT
/*----------------------------------------------------------------------*/
/* Standard interface definitions                                       */
/* (these should be in a separate file)                                 */
/*----------------------------------------------------------------------*/
#define MSG_STATUS_OK               (0)
#define MSG_STATUS_ERROR            (BIT0)
#define MSG_STATUS_NOT_CONFIGURED   (BIT1)
#define MSG_STATUS_UNKNOWN          (BIT2)

 /*--------------------------------------------------------------------*/
/* NAME: MSG_ACK_WRNG_REPETITION                                       */
/* DESCRIPTION: Usage of this macro�    When a warning is acknowledged */
/*              it is stored in store queue and if it is required      */
/*              bring the warning to display again by making it old    */
/*              after specific duration, this macro should be enabled. */
/*---------------------------------------------------------------------*/
 #define MSG_ACK_WRNG_REPETITION

 /*--------------------------------------------------------------------*/
/* NAME: MSG_ACK_WRNG_REPEAT_TIMER_CONTROL                             */
/* DESCRIPTION: Usage of this macro�    When the ack warning repeat    */
/*              timer needs to be controlled by the application then   */
/*              this configuration need to be enabled.  Application    */
/*              can start or pause or restart the timer.               */
/*---------------------------------------------------------------------*/
 #ifdef MSG_ACK_WRNG_REPETITION
 #define MSG_ACK_WRNG_REPEAT_TIMER_CONTROL
 #endif 
 
 /*--------------------------------------------------------------------*/
/*            NAME: MSG_ENABLE_GROUP_ACKNOWLEDGEMENT                   */
/* DESCRIPTION: Usage of this macro�    When the single ack of         */
/*              warning in display need to acknowledge all             */
/*              active warnings in that group,                         */
/*              this macro should be anabled                           */
/*--------------------------------------------------------------------*/
 #define MSG_ENABLE_GROUP_ACKNOWLEDGEMENT
 
/*            NAME: MSG_MESSAGE_ACK_GROUPS                             */
/* DESCRIPTION: Usage of this macro�    When the ack of warning in     */
/*              two groups need to be controlled by application this   */
/*              need to be used                                        */
 
 #define MSG_MESSAGE_ACK_GROUPS \
     MSG_ACK_GROUP_FUELINT,  \
     MSG_ACK_GROUP_WARNINT,  \
     MSG_ACK_GROUP_PROSRVINT
/*----------------------------------------------------------------------*/
/* Ignition State                                                       */
/*----------------------------------------------------------------------*/
#  ifndef APPLICATION_INACTIVE
#   define APPLICATION_INACTIVE (0U)
#  endif

#  ifndef NORMAL
#   define NORMAL (1U)
#  endif

#  ifndef LIMITED
#   define LIMITED (2U)
#  endif

#  ifndef ABNORMAL
#   define ABNORMAL (3U)
#  endif

#define MSG_GET_IGNITION_STATE()    WarnMsg_Core_Observer_GetCurrIgnSts()
#define MSG_IGN_OFF                 LIMITED
#define MSG_IGNACC                  APPLICATION_INACTIVE
#define MSG_IGNRUN                  APPLICATION_INACTIVE
//#define MSG_IGNCRANK              APPLICATION_INACTIVE
#define MSG_IGN_ON                  NORMAL
#define MSG_FREEZE_IGN_MODE         64U

/*----------------------------------------------------------------------*/
/* Configure the IGN Freeze mode, if required to freeze all warnings,   */
/* which are not required to process, Otherwise do not define the macro */
/*----------------------------------------------------------------------*/
//#define MSG_FREEZE_IGN_MODE         (MSG_IGNCRANK)

/*--------------------------------------------------------------------------*/
/* Message Priority                                                         */
/*--------------------------------------------------------------------------*/
#define MSG_PRIORITY(n)                 (n)
/*--------------------------------------------------------------------------*/
/* Message Options - Configure message options based category               */
/*--------------------------------------------------------------------------*/
/*Not Used
#define W_NO_ACK_NO_STORE_INTERRUPT_OPTIONS              ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_CYCLE |MSG_OPTION_DISP_INDICATIONTIME  )
#define W_NO_ACK_NO_STORE_NO_INTERRUPT_OPTIONS           ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE )
#define W_NO_ACK_NO_STORE_HOLD_INTERRUPT_OPTIONS         ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_CYCLE |MSG_OPTION_DISP_INDICATIONTIME|MSG_OPTION_REM_FRM_SEQ_IN_NA_IGN_MODE )
*/
#define _ALL_                   						 (0xFF)

/* Defining New Macros */
/* Fuel Lid */
#define W_ACK_NO_CYCLE_NO_STORE_REDISP_NO_INT_OPTIONS	  ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | MSG_OPTION_ACK_WRNG_REPEAT)

/* Door Unlock */
#define W_NO_ACK_NO_CYCLE_NO_STORE_NO_INTERRUPT_OPTIONS	  ( MSG_OPTION_SEQUENCE )

/*Type 1 */
        /*Redisplay*/
#define W_ACK_CYCLE_NO_STORE_REDISP_INTERRUPT_OPTIONS            ( MSG_OPTION_REM_FRM_SEQ_IN_NA_IGN_MODE| MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | MSG_OPTION_CYCLE | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_ACK_WRNG_REPEAT | MSG_OPTION_FORCE_OLD)
#define W_ACK_CYCLE_NO_STORE_REDISP_INTERRUPT_NO_FOLD_OPTIONS    ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | MSG_OPTION_CYCLE | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_ACK_WRNG_REPEAT)
        /*Hold */
#define W_ACK_CYCLE_STORE_HOLD_INTERRUPT_OPTIONS                ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_CYCLE | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_REM_FRM_SEQ_IN_NA_IGN_MODE| MSG_OPTION_STORE |MSG_OPTION_FORCE_OLD )
/*No Acknowledgement*/
#define W_NO_ACK_CYCLE_NO_STORE_REDISP_INTERRUPT_OPTIONS         ( MSG_OPTION_SEQUENCE | MSG_OPTION_STORE | MSG_OPTION_CYCLE | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_REM_FRM_SEQ_IN_NA_IGN_MODE | MSG_OPTION_FORCE_OLD)

/* Type 2 */
        /*No Store*/
#define W_ACK_CYCLE_NO_STORE_INTERRUPT_OPTIONS           ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_CYCLE | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_FORCE_OLD )
#define W_ACK_CYCLE_NO_STORE_NO_FOLD_INTERRUPT_OPTIONS           ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_CYCLE | MSG_OPTION_DISP_INDICATIONTIME )
        /*Store*/
#define W_ACK_CYCLE_STORE_INTERRUPT_OPTIONS              ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | MSG_OPTION_CYCLE | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_FORCE_OLD )
#define W_ACK_CYCLE_STORE_INTERRUPT_NO_FOLD_OPTIONS      ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | MSG_OPTION_CYCLE | MSG_OPTION_DISP_INDICATIONTIME )


/* Type 3 */
        /*No Acknowledge*/
#define W_NO_ACK_NO_CYCLE_NO_STORE_INTERRUPT_OPTIONS            ( MSG_OPTION_SEQUENCE )
        /*Acknowledge*/
#define W_ACK_NO_CYCLE_NO_STORE_INTERRUPT_OPTIONS               ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE |  MSG_OPTION_FORCE_OLD )
#define W_ACK_NO_CYCLE_NO_STORE_INTERRUPT_NO_FOLD_OPTIONS       ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE )
        /*Store*/
#define W_ACK_NO_CYCLE_STORE_INTERRUPT_OPTIONS                  ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE)

/* Type 4 */
#define ADAS_ACK_NO_STORE_INTERRUPT_OPTIONS                     ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_FORCE_OLD )
#define ADAS_ACK_NO_STORE_INTERRUPT_NO_FOLD_OPTIONS              ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_DISP_INDICATIONTIME  )

/* TPMS Warning */
#define W_ACK_NO_CYCLE_NO_STORE_INTERRUPT_STASH_LOW_OPTIONS     ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STASH_LOW | MSG_OPTION_NEW_MSG_SEQ_Q_TIMEOUT)
#define W_ACK_NO_CYCLE_STORE_INTERRUPT_STASH_LOW_OPTIONS 	( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STASH_LOW | MSG_OPTION_NEW_MSG_SEQ_Q_TIMEOUT | MSG_OPTION_STORE)
/*HUD Type 1*/
#define HW_ACK_NO_CYCLE_NO_STORE_NO_INTERRUPT_OPTIONS           ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE )
#define VOID_PTR(x) ((void * const)(&x))


/*--------------------------------------------------------------------------*/
/* Message Callback Event Options -                                         */
/*--------------------------------------------------------------------------*/
#define WARN_MSG_EVENT_NONE                   			( MSG_EVENT_NONE )
#define WARN_MSG_EVENT_SHOW_ACK               			( MSG_EVENT_SHOW | MSG_EVENT_ACKNOWLEDGED )
#define WARN_MSG_EVENT_SHOW_HIDE              			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN )
#define WARN_MSG_EVENT_SHOW_HIDE_INACTIVE     			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_INACTIVE)
#define WARN_MSG_EVENT_SHOW_HIDE_TIMEOUT      			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_TIMEOUT )
#define WARN_MSG_EVENT_SHOW_HIDE_ACK          			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_ACKNOWLEDGED )
#define WARN_MSG_EVENT_SHOW_HIDE_TIMEOUT_ACK  			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_TIMEOUT | MSG_EVENT_ACKNOWLEDGED )
#define WARN_MSG_EVENT_SHOW_HIDE_ACK_INACTIVE			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_ACKNOWLEDGED |MSG_EVENT_INACTIVE )
#define WARN_MSG_EVENT_SHOW_HIDE_TIMEOUT_ACK_INACTIVE	        ( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_TIMEOUT | MSG_EVENT_ACKNOWLEDGED |MSG_EVENT_INACTIVE )

/*--------------------------------------------------------------------------*/
/* Timeout Options - Mapping with WARN timer management component            */
/*--------------------------------------------------------------------------*/

#include "WarningCommonLogic_autogen.inc"


#define WARN_DISPLAY_REFRESH_RATE_IN_MS       16
#define HTS_TO_SECONDS(x)             	(((UINT16)x  * (UINT16)1000) / WARN_DISPLAY_REFRESH_RATE_IN_MS)
#define HTS_TO_MILLISECONDS(x)        	(((UINT16)x                  / WARN_DISPLAY_REFRESH_RATE_IN_MS))

#define TIMEOUT_30S               30000
#define TIMEOUT_16S               16000
#define TIMEOUT_10S               10000
#define TIMEOUT_7S                7000
#define TIMEOUT_6S                6000
#define TIMEOUT_5S                5000
#define TIMEOUT_3S                3000
#define TIMEOUT_2S                2000
#define	TIMEOUT_4S				  4000

#define TIMEOUT_1_5S              1500
#define NO_TIMEOUT                ((UINT8) 0)

#if 0
#define TIMEOUT_30S               HTS_TO_SECONDS(30)
#define TIMEOUT_10S               HTS_TO_SECONDS(10)
#define TIMEOUT_6S                HTS_TO_SECONDS(6)
#define TIMEOUT_5S                HTS_TO_SECONDS(5)
#define TIMEOUT_3S                HTS_TO_SECONDS(3)
#define TIMEOUT_2S                HTS_TO_SECONDS(2)
#define TIMEOUT_4S				  HTS_TO_SECONDS(4)

#define TIMEOUT_1_5S              HTS_TO_SECONDS(2)
#define NO_TIMEOUT                (UINT8) 0)
#endif

 
/* When a msg from a category need to be shown alternately in display then   */ 
/* configure the value of ALTERNATELY_SHOW_MSG_FRM_CATEGORY_ENABLED as TRUE. */
/* If this feature is not required then configure as FALSE.                  */
#define ALTERNATELY_SHOW_MSG_FRM_CATEGORY_ENABLED      FALSE

/* When ALTERNATELY_SHOW_MSG_FRM_CATEGORY_ENABLED is TRUE then the category  */ 
/* from which the message need to be shown alternately should be configured. */
/* configure the category in CATEGORY_TO_BE_SHOWN_ALTERNATELY.  If value     */
/* of ALTERNATELY_SHOW_MSG_FRM_CATEGORY_ENABLED is FALSE then configure      */
/* CATEGORY_TO_BE_SHOWN_ALTERNATELY as mcMaximum.  There should not be more  */
/* than one message in the category configured.  Only one message in the     */
/* category configured will be shown alternately.                            */
#define CATEGORY_TO_BE_SHOWN_ALTERNATELY                ( mcMaximum )

#define CATEGORYMASK_TO_BE_SHOWN_ALTERNATELY            ( 1<<CATEGORY_TO_BE_SHOWN_ALTERNATELY )

#define MSG_ENABLE_GROUP_ACKNOWLEDGEMENT


/*==========================================================================*/
/* R E V I S I O N    N O T E S                                             */
/*==========================================================================*/
/* For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**==========================================================================*/

/****************************************************************************
**  Date  : 
**  by    : vrk
**  Ref   : None.
**  Change: Initial version, leverage from 38xd
**
*****************************************************************************/
/****************************************************************************
**  Date  : 01/07/25
**  by    : vrk
**  Ref   : None.
**  Change: Added Type-1, no acknowledgement.
**
*****************************************************************************/


#endif /* warn_msgDefinition_CFG */
/* end of file =============================================================*/
