/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2011. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_gfx_anim_engine.h
**
** Description:    public interface header for the animation engine
**
** Organization:   Driver Information Software Section,
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_GFX_ANIM_ENGINE_CFG
#define HMI_GFX_ANIM_ENGINE_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/
#include "hmi_gfx_mgr02_if.h"
#include "hmi_logic_state_handler.h"

/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/
#ifdef  __cplusplus
extern "C" {
#endif

#ifdef GFX_ANIM_DEBUG
 #define GFX_ANIM_DEBUG_PRINT printf
#else
 #define GFX_ANIM_DEBUG_PRINT
#endif

#define HMI_GFX_ANIM_ENGINE_DONE_CB(anim_id, client_id) \
{														\
   GFX_ANIM_DEBUG_PRINT("Animation Completed for aid=%d, cid=%d\n", anim_id, client_id); \
}

#define HMI_GFX_ANIM_SET_SCREEN(sid)                    hmi_gfx_mgr02_if_set_screen(sid, 1)
#define HMI_GFX_ANIM_SET_CLIENT(cid)                    hmi_gfx_mgr02_if_set_screen(cid, 1)

#define HMI_GFX_ANIM_SET_OFFSET_X(id, offx)            \
{													   \
   GFX_MGR02_ILOC_DATA fl_pos;						   \
   hmi_gfx_mgr02_if_get_obj_pos(id, &fl_pos);		   \
   hmi_gfx_mgr02_if_set_obj_pos_x(id, fl_pos.x+offx);  \
}

#define HMI_GFX_ANIM_SET_OFFSET_Y(id, offy)            \
{													   \
   GFX_MGR02_ILOC_DATA fl_pos;						   \
   hmi_gfx_mgr02_if_get_obj_pos(id, &fl_pos);		   \
   hmi_gfx_mgr02_if_set_obj_pos_y(id, fl_pos.y+offy);  \
}

#define HMI_GFX_ANIM_SET_OFFSET_W(id, offw) \
{                                           \
    hmi_gfx_mgr02_if_set_obj_dim_w(id, offw);\
}
#define HMI_GFX_ANIM_SET_OFFSET_H(id, offh) \
{                                           \
   hmi_gfx_mgr02_if_set_obj_dim_h(id, offh);\
}

#define HMI_GFX_ANIM_SET_DATA(id, data)						    \
{													            \
   if(GFX_MGR02_GET_OBJ_TYPE(id) == GFX_MGR02_TYPE_DWIDGET)     \
   {                                                            \
	  hmi_gfx_mgr02_if_select_dwidget(id, data);                \
   }                                                            \
   else if(GFX_MGR02_GET_OBJ_TYPE(id) == GFX_MGR02_TYPE_DIMAGE) \
   {                                                            \
	  hmi_gfx_mgr02_if_select_dimage(id, data);                 \
   }                                                            \
   else                                                         \
   {                                                            \
   }                                                            \
}

#define HMI_GFX_ANIM_SET_COLOR(id, color)  hmi_gfx_mgr02_if_set_obj_fg_color(id, color)
#define HMI_GFX_ANIM_SET_ALPHA(id, alpha)  hmi_gfx_mgr02_if_set_obj_alpha(id, alpha)
#define GFX_ANIM_ID(cmd)                   (((cmd) >> 16) & 0x0000FFFF)
#define GFX_ANIM_PRAM(cmd)                 ((cmd) & 0x0000FFFF)
/*============================================================================
** E N T R Y   P O I N T S
**==========================================================================*/

/*============================================================================
** D A T A   A C C E S S   S E R V I C E S
**==========================================================================*/

/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
**
** CMS Rev 1.0      27-Nov-12    EMANOJ1
** Creation.
**
**==========================================================================*/
#ifdef  __cplusplus
}
#endif

/* end of file =============================================================*/
#endif
