/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2011. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           qspi.cfg
**
** Description:    This file contains application configuration macros to be
**                 used to define the functionality to be provided by
**                 QSPI.C.
**
** Organization:   Driver Information Software Section,
**                 DI Core Engineering Department
**
**============================================================================
**
**==========================================================================*/
#ifndef QSPI_CFG
#define QSPI_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/

/*============================================================================
** P U B L I C   M A C R O   A N D   T Y P E   D E F I N I T I O N S
**==========================================================================*/

/*
** The Rainbow Lite CUT2 silicon has an upgraded QSPI peripheral called
** the QSPI version 3.  In this version, an LCR register exists which is
** used to set the number of dummy clock cycles between initiation of
** a QSPI read and the time the data is actually ready to be read from
** the external flash memory chip.
**
** For Spansion memory chips, this register must be set to 0x00000004
** or else quad reads (0xBB and OxEB) will not function correctly.
**
** If you are using a version of the Rainbow or Rainbow Lite silicon that
** has a QSPIv3 and requires writing this register, then define
** "QSPI_LCR_VALUE" to the number of dummy clock cycles required (most likely
** 0x00000004 as previously described).
**
** If you don't require this, the comment out the definition.
*/

#define QSPI_LCR_VALUE 0x00000004

/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
**
** CMS Rev 1        04/13/11     JKANOZA
** Initial revision.
**
**==========================================================================*/

/* end of file =============================================================*/

#endif
