/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2009. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
**  Name:               hmi_msgDefinition.cfg
**
**  Description:
**
**  Organization:       Driver Information Software Section,
**                      DI Core Engineering Department
**
**===========================================================================*/
#ifndef hmi_msgDefinition_CFG
#define hmi_msgDefinition_CFG

/*==========================================================================*/
/* I N C L U D E   F I L E S                                                */
/*==========================================================================*/

/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/

/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


/*==========================================================================*/
/* T Y P E   D E F I N I T I O N S                                          */
/*==========================================================================*/

/*--------------------------------------------------------------------------*/
/* Define the set of message types that are present in the application.     */
/* These must be in DESCENDING priority order.                              */
/*--------------------------------------------------------------------------*/
#define MSG_MESSAGE_CATEGORIES \
     mcOpFeedback,  \
     mcHardWarning, \
     mcSoftWarning, \
     mcInformation, \
     mcOkCondition  \
     
/*--------------------------------------------------------------------------*/
/* Define the number of messages for this application.                      */
/*--------------------------------------------------------------------------*/

#define MSG_MESSAGE_IDENTITIES \
    OF_WARN_1, \


/*----------------------------------------------------------------------*/
/* Standard interface definitions                                       */
/* (these should be in a separate file)                                 */
/*----------------------------------------------------------------------*/
#define MSG_STATUS_OK               (0)
#define MSG_STATUS_ERROR            (BIT0)
#define MSG_STATUS_NOT_CONFIGURED   (BIT1)
#define MSG_STATUS_UNKNOWN          (BIT2)

/*----------------------------------------------------------------------*/
/* Ignition State                                                       */
/*----------------------------------------------------------------------*/
#define MSG_GET_IGNITION_STATE()    (0xFF)  /* FIGSW_GET_SW_STATE() */
#define MSG_IGNOFF                  (1)     /* (IGN_OFF)            */
#define MSG_IGNACC                  (2)     /* (IGN_ACC)            */
#define MSG_IGNRUN                  (4)     /* (IGN_RUN)            */
#define MSG_IGNCRANK                (8)     /* (IGN_START)          */

/*----------------------------------------------------------------------*/
/* Configure the IGN Freeze mode, if required to freeze all warnings,   */
/* which are not required to process, Otherwise do not define the macro */
/*----------------------------------------------------------------------*/
#define MSG_FREEZE_IGN_MODE         (MSG_IGNCRANK)


/*----------------------------------------------------------------------*/
/* Define this macro to enable NEW_MESSAGE_SEQ_QUEUE_TIMEOUT feature    */
/* in message core, otherwise the code sahll be execulded for           */
/* compilation to reduce the RAM, ROM size & execution time             */
/* Examble:                                                             */
/* #define HMI_MSG_ENABLE_NEW_MESSAGE_SEQ_QUEUE_TIMEOUT                 */
/* If defined the warning shall timeout from the sequencer queue when   */
/* the specified time is expired before coming to display               */
/*                                                                      */
/* Note: When the message is on top of Seq Q, then it will e considered */
/* as message is sent to display, and the message core won't check      */
/* whether the message screen got the focus or not.                     */
/*----------------------------------------------------------------------*/
#define HMI_MSG_ENABLE_NEW_MESSAGE_SEQ_QUEUE_TIMEOUT

/*---------------------------------------------------------------------*/
/* NAME: HMI_MSG_UNIQUE_DISP_IND_TIME                                  */
/* DESCRIPTION: Define this macro to have unique new warning display   */
/* time for every message. If the new warning display time is the same */
/* for all the messages then the this macro should not be defined. The */
/* common new warning display time can be configured using macro       */
/* HMI_MSG_DISP_IND_TIME. If the new warning display time is different */
/* then enable this macro and the new warning display time will be a   */
/* structure member(DispIndTimeout) of MSG_MESSAGE_STRUCT. The member  */
/* DispIndTimeout value will be directly passed to the timer interface */
/* So configuration need to be done accordingly.                       */
/*---------------------------------------------------------------------*/
#define HMI_MSG_UNIQUE_DISP_IND_TIME


/*---------------------------------------------------------------------*/
/* NAME: MSG_OLD_WRNG_REPETITION                                       */
/* DESCRIPTION: Usage of this macro•	When a warning is made old     */
/*              after first time show and if it is required to make    */
/*              the old warning new after a specific duration then     */
/*              this macro should be enabled.                          */
/*---------------------------------------------------------------------*/
 #define MSG_OLD_WRNG_REPETITION
 
 /*--------------------------------------------------------------------*/
/* NAME: MSG_ACK_WRNG_REPETITION                                       */
/* DESCRIPTION: Usage of this macro•	When a warning is acknowledged */
/*              it is stored in store queue and if it is required      */
/*              bring the warning to display again by making it old    */
/*              after specific duration, this macro should be enabled. */
/*---------------------------------------------------------------------*/
 #define MSG_ACK_WRNG_REPETITION

/*--------------------------------------------------------------------*/
/* NAME: MSG_ACK_WRNG_REPEAT_TIMER_CONTROL                             */
/* DESCRIPTION: Usage of this macro•	When the ack warning repeat    */
/*              timer needs to be controlled by the application then   */
/*              this configuration need to be enabled.  Application    */
/*              can start or pause or restart the timer.               */
/*---------------------------------------------------------------------*/
 #ifdef MSG_ACK_WRNG_REPETITION
 #define MSG_ACK_WRNG_REPEAT_TIMER_CONTROL
 #endif	

/*--------------------------------------------------------------------*/
/* NAME: MSG_ENABLE_GROUP_ACKNOWLEDGEMENT                             */
/* DESCRIPTION: Define this macro to enable group acknowledgement.    */
/* Once the currently displayed warning is acknowledged, all other    */
/* warnings that are in active state belonging to same group shall    */
/* get acknowledged. Refer "Warning_configuration_group_ack.xlsm"     */
/* sheet from the path "ui.core.iceapple.doc\message.core.01\design\" */
/* for the generation of AckGroup parameter.
/* Template: #define MSG_ENABLE_GROUP_ACKNOWLEDGEMENT
/*--------------------------------------------------------------------*/

//#define MSG_ENABLE_GROUP_ACKNOWLEDGEMENT

/*--------------------------------------------------------------------------*/
/* Define the acknowledgement groups that are present in the application.   */                           */
/*--------------------------------------------------------------------------*/

#ifdef MSG_ENABLE_GROUP_ACKNOWLEDGEMENT
#define MSG_MESSAGE_ACK_GROUPS \
        mgAckGroupA,  \
        mgAckGroupB,  \
        mgAckGroupC   \
#endif

/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/

#define HARD_WARNING_TIMEOUT    ( MS(1010) )
#define SOFT_WARNING_TIMEOUT    ( MS(1020) )
#define INFORMATION_TIMEOUT     ( MS(1030) )
#define OK_CONDITION_TIMEOUT    ( MS(1040) )
#define OP_FEEDBACK_TIMEOUT     ( MS(1050) )

#define HARD_WARNING_OPTIONS    (MSG_OPTION_SEQUENCE |MSG_OPTION_CLEARABLE |MSG_OPTION_STORE )
#define SOFT_WARNING_OPTIONS    (MSG_OPTION_SEQUENCE |MSG_OPTION_CLEARABLE |MSG_OPTION_STORE )
#define INFORMATION_OPTIONS     (MSG_OPTION_SEQUENCE |MSG_OPTION_CLEARABLE |MSG_OPTION_STORE )
#define OK_CONDITION_OPTIONS    (0                   |0                    |MSG_OPTION_STORE )
#define OP_FEEDBACK_OPTIONS     (MSG_OPTION_SEQUENCE |MSG_OPTION_CLEARABLE |0                )


#define _ALL_                   (0xFF)


#define VOID_PTR(x) ((void * const)(&x))

#if defined SIF_SUPPORT_EXTENDED_QUALIFIER
  #define TEST_QUALIFIER    (NULL)
  #define CALLBACK_MASK     (NULL)
#else
  #define TEST_QUALIFIER    (0)
  #define CALLBACK_MASK     (0xFF)
#endif

#define MSG_TEST_OF_WARN_1  \
{ \
    test_GetWarningState, \
    test_EventCallback, \
    TEST_QUALIFIER, \
    CALLBACK_MASK, \
    3, \
	4, \
    mcOpFeedback, \
    1, \
    OP_FEEDBACK_OPTIONS, \
    MSG_IGNRUN|MSG_IGNCRANK, \
	5, \
    mgAckGroupA \
}


/*--------------------------------------------------------------------------*/
/* Define the set of messages for this application.                         */
/* These must be in DESCENDING priority order.                              */
/*--------------------------------------------------------------------------*/
#define MSG_MESSAGE_LIST  MSG_TEST_OF_WARN_1

#define MSG_START_SW_TIMER(timeout, timer)  hmi_check_hold_timer_and_start(timeout, timer)
#define MSG_CLEAR_SW_TIMER(timer)           hmi_timer_support_clear_timer(timer)
#define MSG_CHECK_SW_TIMER(timer)           hmi_timer_support_check_timer(timer)

/*==========================================================================*/
/* R E V I S I O N    N O T E S                                             */
/*==========================================================================*/
/* For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**==========================================================================*/

/****************************************************************************
**  Date  : 07/Apr/2010
**  by    : AFERRIS2
**  Ref   : None.
**  Change: Initial version.
**
*****************************************************************************/

/****************************************************************************
**  Date: 06/May/2010     by: AFERRIS2        Ref: None.
**  Change: 1.  Updated test messages.
**          2.  Minor layout changes.
**  To-do:  Sort out ignition state detection.  This probably needs to be moved
**          to a more suitable place.  Leave until the application message handler
**          is added.
**
**  Checks: COMPILER - NOT CHECKED       QAC - NOT CHECKED
*****************************************************************************/

/****************************************************************************
**  Date: 07/Sep/2010     by: AFERRIS2        Ref:
**  Change: 1.  Updated test messages for callback change.
**
**  Checks: COMPILER - NOT CHECKED       QAC - NOT CHECKED
*****************************************************************************/

/****************************************************************************
**  Date: 12/Mar/2012     by: VSARAVA2        Ref:DCR 3190/3191/3192
**  Change: 1.  MSG_FREEZE_IGN_MODE - Configurable macro added.
**
**  Checks: COMPILER - NOT CHECKED       QAC - NOT CHECKED
*****************************************************************************/

/****************************************************************************
**  Date: 25/Aug/2013     by: vsarava2        Ref: RTC 91916
**  New warning Seq Q timeout configuration added to support Honda requirements.
*****************************************************************************/

/****************************************************************************
**  Date: 27/Dec/2013     by: adevi           Ref: RTC 91917
**  Old & Ack warning repetition implementation to support Honda requirements.
*****************************************************************************/

/****************************************************************************
**  Date: 28/Apr/2014     by: adevi           Ref: Bug 192
**  Introduced compiler switch HMI_MSG_UNIQUE_DISP_IND_TIME to enable unique
**  new warning display time. Honda requirements addressed.
*****************************************************************************/

/****************************************************************************
**  Date: 06/Jun/2014     by: adevi           Ref: Bug 206
**  Introduced new feature using macro ALTERNATELY_SHOW_MSG_FRM_CATEGORY_ENABLED.
**  When this macro is TRUE message from the category configured will be shown
**  alternately.
*****************************************************************************/

/****************************************************************************
**  Date: 18/Jun/2014     by: adevi           Ref: Bug 206, RTC ID: 154152
**  Peer review comments of PR ID 77295 updated.
*****************************************************************************/

/****************************************************************************
**  Date: 13/Aug/2015     by: adevi           Ref: RTC ID: 399553
**  New configuration MSG_ACK_WRNG_REPEAT_TIMER_CONTROL added.
*****************************************************************************/


#endif /* hmi_msgDefinition_CFG */
/* end of file =============================================================*/
