# ┌────────────────────────────────────────────────────────────────────────────────────────┐
# │                          ===== FLASH CONFIGURATION FILE =====                          │
# │ ## Config Line Syntax Rules                                                            │
# │ - A config line is a whitespace separated collection of `--<key>=<value>` pairs.       │
# │ - Avoid using spaces other than as the pair separator.                                 │
# │ - The supported keys and their values are                                              │
# │ | Key            | Value                                                        |      │
# │ | -------------- | ------------------------------------------------------------ |      │
# │ | --file         | Path of the file to be flashed. Use quotes for Windows path. |      │
# │ | --operation    | One of `flash-nor`, `flash-nand`, or `flash-emmc`.           |      │
# │ | --flash-offset | Raw address offset in hex at which file is to be flashed.    |      │
# │ | --attributes   | Only for `flash-emmc`. Skipped for others. Default="raw,1,-" |      │
# │ |                | Three comma separated values: "<raw|part>,<hwpart>,<partid>" |      │
# └────────────────────────────────────────────────────────────────────────────────────────┘


# Kernel_PRI_A
--file="images/eMMC/linux.appimage.hs_fs" --operation=flash-emmc --flash-offset=0x0 --attributes="raw,1,-"
# Kernel_PRI_B
--file="images/eMMC/linux.appimage.hs_fs" --operation=flash-emmc --flash-offset=0x0 --attributes="raw,2,-"
# Kernel_REC_A
--file="images/eMMC/linux.appimage.hs_fs" --operation=flash-emmc --flash-offset=0x100000 --attributes="raw,0,-"
# Kernel_REC_B
--file="images/eMMC/linux.appimage.hs_fs" --operation=flash-emmc --flash-offset=0x2100000 --attributes="raw,0,-"
# GPT_Main
#--file="images/eMMC/GPT.bin" --operation=flash-emmc --flash-offset=0x1000000 --attributes="raw,2,-"
# GPT_Backup
#--file="images/eMMC/GPT.bin" --operation=flash-emmc --flash-offset=0x1000000 --attributes="raw,2,-"
# VIP App A
#--file="images/eMMC/VIP_APP.bin" --operation=flash-emmc --flash-offset=0x1000000 --attributes="raw,2,-"
# VIP App B
#--file="images/eMMC/VIP_APP.bin" --operation=flash-emmc --flash-offset=0x1000000 --attributes="raw,2,-"

# User Rootfs
# Rootfs PRIMARY A
--file="images/eMMC/ext4-rootfs-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,3"
# Rootfs PRIMARY B
--file="images/eMMC/ext4-rootfs-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,4"
# Rootfs Reovery A
--file="images/eMMC/ext4-rootfs-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,5"
# Rootfs Reovery B
--file="images/eMMC/ext4-rootfs-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,6"
# System A
--file="images/eMMC/ext4-system-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,7"
# System B
--file="images/eMMC/ext4-system-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,8"
# App A
--file="images/eMMC/ext4-app-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,9"
# App B
--file="images/eMMC/ext4-app-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,10"
# Asset A
--file="images/eMMC/ext4-asset-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,11"
# Asset B
--file="images/eMMC/ext4-asset-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,12"
# Data
--file="images/eMMC/ext4-data-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,15"
# Persist
--file="images/eMMC/ext4-persist-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,16"
# OTA Cache
--file="images/eMMC/ext4-update-cache-partition.img" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,17"
# METADATA
#--file="images/eMMC/metadata.bin" --operation=flash-emmc --flash-offset=0x0 --attributes="part,0,18"
