# ┌────────────────────────────────────────────────────────────────────────────────────────┐
# │                          ===== FLASH CONFIGURATION FILE =====                          │
# │ ## Config Line Syntax Rules                                                            │
# │ - A config line is a whitespace separated collection of `--<key>=<value>` pairs.       │
# │ - Avoid using spaces other than as the pair separator.                                 │
# │ - The supported keys and their values are                                              │
# │ | Key            | Value                                                        |      │
# │ | -------------- | ------------------------------------------------------------ |      │
# │ | --file         | Path of the file to be flashed. Use quotes for Windows path. |      │
# │ | --operation    | One of `flash-nor`, `flash-nand`, or `flash-emmc`.           |      │
# │ | --flash-offset | Raw address offset in hex at which file is to be flashed.    |      │
# │ | --attributes   | Only for `flash-emmc`. Skipped for others. Default="raw,1,-" |      │
# │ |                | Three comma separated values: "<raw|part>,<hwpart>,<partid>" |      │
# └────────────────────────────────────────────────────────────────────────────────────────┘

# Stage1 A
--file="images/NOR/sbl_ospi_stage1.release.hs_fs.tiimage" --operation=flash-nor --flash-offset=0x0

# Stage_PRI_2A
--file="images/NOR/sbl_ospi_stage2.release.appimage.hs_fs" --operation=flash-nor --flash-offset=0x080000
# Stage_PRI_2B 
--file="images/NOR/sbl_ospi_stage2.release.appimage.hs_fs" --operation=flash-nor --flash-offset=0x180000
# Stage_REC_2A 
--file="images/NOR/sbl_ospi_stage2.release.appimage.hs_fs" --operation=flash-nor --flash-offset=0x280000

# Stage1 B
--file="images/NOR/sbl_ospi_stage1.release.hs_fs.tiimage"  --operation=flash-nor --flash-offset=0x400000

# HSM_PRI_A
--file="images/NOR/hsm.appimage.hs_fs" --operation=flash-nor --flash-offset=0x480000
# HSM_PRI_B
--file="images/NOR/hsm.appimage.hs_fs" --operation=flash-nor --flash-offset=0x4A0000
# HSM_REC_A
--file="images/NOR/hsm.appimage.hs_fs" --operation=flash-nor --flash-offset=0x4C0000
# HSM_REC_B
--file="images/NOR/hsm.appimage.hs_fs" --operation=flash-nor --flash-offset=0x4E0000

# BL_App_A
--file="images/NOR/EINSTIEN4.0_BL.appimage.hs_fs " --operation=flash-nor --flash-offset=0x500000
# BL_App_B
--file="images/NOR/EINSTIEN4.0_BL.appimage.hs_fs " --operation=flash-nor --flash-offset=0x540000

# VIP_App_A
--file="images/NOR/EINSTIEN4.0_VP.appimage.hs_fs" --operation=flash-nor --flash-offset=0x580000
# VIP_App_B
--file="images/NOR/EINSTIEN4.0_VP.appimage.hs_fs" --operation=flash-nor --flash-offset=0x980000

# Metadata_Main bin
--file="images/NOR/metadata.bin" --operation=flash-nor --flash-offset=0xFC0000
# Metadata_Backup bin
#--file="images/NOR/metadata.bin" --operation=flash-nor --flash-offset=0xFE0000
