[Unit]
Description=Test application 03

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/system/usr/lib:$LD_LIBRARY_PATH"
ExecStart=/system/usr/bin/wdg_test_FT/test_03 3
Restart=no
RestartForceExitStatus=255 SIGABRT

StandardOutput=journal
StandardError=journal