################################################################################################
##
##  Build file for Neutrino 8.0 on TI AM62x E4_EVK/E4_RUN0 -  Added & Updated by Visteon
##
################################################################################################

[-optional]
[+keeplinked]
[image=0x80080000]
[virtual=aarch64le,raw +compress] boot = {

#if VARIANT == EINSTEIN_4_0_A1
    startup-am62p-e4_a1_primary -u reg -v
#elif VARIANT == EINSTEIN_4_0_A0
    startup-am62p-e4_a0_primary -u reg -v
#endif

    PATH=/proc/boot:/sbin:/bin:/usr/bin:/usr/sbin:/usr/libexec:/app/bin:/app/usr/bin:/app/sbin:/system/usr/bin:/system/usr/sbin:/system/bin:/system/sbin
    LD_LIBRARY_PATH=/proc/boot:/lib:/usr/lib:/lib/dll:/lib/dll/pci:/system/usr/lib:/app/lib/dll:/app/lib:/app/usr/lib:/system/lib:/system/lib/dll:/app/usr/lib/graphics/am62p:/app/usr/lib/graphics/vulkan procnto-smp-instr -v
}

[+script] startup-script = {
    SYSNAME=nto
    TERM=qansi
    ENV=/etc/profile

    procmgr_symlink ../../proc/boot/ldqnx-64.so.2 /usr/lib/ldqnx-64.so.2

    display_msg Welcome to QNX Neutrino 8.0 Primary OS on TI_AM62P E4.0 RUN0 Platform Board (ARM Cortex-A53)
    display_msg IMG BUILD INFO: BUILD_INFO
    /usr/sbin/slm -r none /etc/slm.xml -vvvvvvv

    waitfor /dev/ser1 4

    reopen /dev/ser1

    display_msg "Starting shell ..."
    [+session] ksh &
}


[search=../install/${PROCESSOR}:../install/${PROCESSOR}/io-sock:../install:${QNX_TARGET}/${PROCESSOR}/io-sock:${QNX_TARGET}/io-sock:${QNX_TARGET}/${PROCESSOR}:${QNX_TARGET}:${BSP_INSTALL_DIR}/${PLATFORM}]

[uid=0 gid=0]

[type=link] /bin/sh=/bin/ksh
[type=link] /tmp=/dev/shmem
[type=link] /dev/console=/dev/ser1
[type=link] /var/log=/tmp
[type=link] /usr/tmp=/tmp

#include "qnx.bsp.build"
#include "qnx.core.build"
#include "qnx.debug.build"
#include "qnx.filesystem.build"
#include "vc.bsp.build"
#include "vc.dijkstra.build"
#include "vc.infra.build"
#include "vc.scripts.build"

################################################################################################
## General shared libraries
################################################################################################
[uid=0 gid=0 perms=0755] ldqnx-64.so.2=usr/lib/ldqnx-64.so.2


################################################################################################
## ENV profile
################################################################################################
/etc/profile = {
export HOME=/
export SYSNAME=nto
export TERM=qansi
export PATH=/proc/boot:/sbin:/bin:/usr/bin:/usr/sbin:/usr/libexec:/app/bin:/app/usr/bin:/app/sbin:/system/usr/bin:/system/usr/sbin:/system/bin:/system/sbin
export LD_LIBRARY_PATH=/proc/boot:/lib:/usr/lib:/lib/dll:/lib/dll/pci:/system/usr/lib:/app/lib/dll:/app/lib:/app/usr/lib:/system/lib:/system/lib/dll:/app/usr/lib/graphics/am62p:/app/usr/lib/graphics/vulkan
export PCI_DEBUG_MODULE=/lib/dll/pci/pci_debug2.so
export PCI_SLOG_MODULE=/lib/dll/pci/pci_slog2.so
export PCI_BKWD_COMPAT_MODULE=/lib/dll/pci/pci_bkwd_compat.so
}

################################################################################################
## END OF BUILD SCRIPT
################################################################################################
