
### Asset Partition Build File
###
### [2022] Visteon Corporation
### All Rights Reserved.

#ifdef SECURE_FS
[num_sectors=2064384]
#else
[num_sectors=2097152]
#endif

[uid=0 gid=0 perms=0777 dperms=0777]

###########################################################################
## Create Required Directories
###########################################################################
[type=dir] /bin
[type=dir] /etc
[type=dir] /lib
[type=dir] /lib/dll
[type=dir] /usr
[type=dir] /usr/bin
[type=dir] /usr/lib
[type=dir] /usr/sbin
[type=dir] /sbin

#include "vc.hmi.asset.build"

## REVISION HISTORY
# Version: 1.0
# Description: Initial Version
# Author: Karthik Shanmugam
# Date: 20220629

