[Unit]
Description=Test application 16

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/system/usr/lib:$LD_LIBRARY_PATH"
ExecStart=/system/usr/bin/wdg_test_FT/test_16 16
Restart=always
StartLimitBurst=3
StartLimitInterval=5min

StandardOutput=journal
StandardError=journal