/*===========================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2009. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**===========================================================================
**
**  Name:               hmi_msgDefinition.cfg
**
**  Description:
**
**  Organization:       Driver Information Software Section,
**                      DI Core Engineering Department
**
**==========================================================================*/
#ifndef hmi_msgDefinition_CFG
#define hmi_msgDefinition_CFG

/*==========================================================================*/
/* I N C L U D E   F I L E S                                                */
/*==========================================================================*/

#if defined hmi_msgDefinition_C

/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/
#include "hmi_timer_support.h"

#else

/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/

#endif
#if !defined (NULL)
#define NULL ((void *) 0)
#endif
#include "stubfunctions.h"
/*#include "ui_warning_app_interface.h"
#include "ui_system_manager.h"
#include "ui_system_interface.h"*/
#include "ui_warning_interface.h"
#include "ui_msgDefinition.inc"
/*==========================================================================*/
/* T Y P E   D E F I N I T I O N S                                          */
/*==========================================================================*/
/*----------------------------------------------------------------------*/
/* Define this macro to enable NEW_MESSAGE_SEQ_QUEUE_TIMEOUT feature    */
/* in message core, otherwise the code sahll be execulded for           */
/* compilation to reduce the RAM, ROM size & execution time             */
/* Examble:                                                             */
/* #define HMI_MSG_ENABLE_NEW_MESSAGE_SEQ_QUEUE_TIMEOUT                 */
/* If defined the warning shall timeout from the sequencer queue when   */
/* the specified time is expired before coming to display               */
/*                                                                      */
/* Note: When the message is on top of Seq Q, then it will e considered */
/* as message is sent to display, and the message core won't check      */
/* whether the message screen got the focus or not.                     */
/*----------------------------------------------------------------------*/

#define HMI_MSG_ENABLE_NEW_MESSAGE_SEQ_QUEUE_TIMEOUT

/*---------------------------------------------------------------------*/
/* NAME: MSG_CYCLE_OPTION_WITH_TIMEOUT                                 */
/* DESCRIPTION: By Using this macro we can cycle the warnings till     */
/*              its timeout period(total display time)                 */
/*              For eg: 3 warnings A,B and C are present in the display*/
/*              and the total display time out of these warnings are   */
/*              configured as 10 seconds.							   */
/*              the warnings will be cycled in the following manner	   */
/*           A(4sec) -> B(4sec) -> C(4sec) ->A(4sec)-> B(4sec)->C(4sec)*/
/*           ->A(2sec) ->B(2sec) ->C(2sec).							   */
/*---------------------------------------------------------------------*/
#define MSG_CYCLE_OPTION_WITH_TIMEOUT

/*--------------------------------------------------------------------------*/
/* Define the set of message types that are present in the application.     */
/* These must be in DESCENDING priority order.                              */
/*--------------------------------------------------------------------------*/
#define MSG_MESSAGE_CATEGORIES \
        mcG0Interrupt,  \
        mcG1Interrupt,   \
        mcG2Interrupt,  \
        mcG3Interrupt,   \
        mcG4Interrupt,  \
        mcG5Interrupt,  \
        mcG6Interrupt,  \
        mcG7Interrupt, \
        mcG8Interrupt

/*--------------------------------------------------------------------------*/
/* Ignition State -                                                         */
/*--------------------------------------------------------------------------*/

#ifndef UI_ENABLE_SIMULATION
    #define MSG_GET_IGNITION_STATE()        ui_msg_get_current_ign_status()
    #define UI_MSG_IGN_INVALID              (0x00)
    #define UI_MSG_IGN_OFF                  (0x02)
    #define UI_MSG_IGN_ON                   (0x01)
#else
    #define MSG_GET_IGNITION_STATE()        ui_msg_get_current_ign_status()
    #define UI_MSG_IGN_INVALID              (0x00)
    #define UI_MSG_IGN_OFF                  (0x02)
    #define UI_MSG_IGN_ON                   (0x01)
    #define UI_MSG_IGN_ACC                  (0x04)
    #define UI_MSG_IGN_CRANK                (0x08)
#endif

/*--------------------------------------------------------------------------*/
/* Message Priority                                                         */
/*--------------------------------------------------------------------------*/
#define MSG_PRIORITY(n)                 (n)


/*--------------------------------------------------------------------------*/
/* Message Options - Configure message options based category               */
/*--------------------------------------------------------------------------*/
#define G0_NO_ACK_NO_STORE_INTERRUPT_OPTIONS         ( MSG_OPTION_SEQUENCE | 0                    | 0                | 0                    | 0                         | 0                              | 0                    | 0                   					             | 0                   				          )
#define G0_NO_ACK_NO_STORE_INTERRUPT_OPTIONS_SEQ     ( MSG_OPTION_SEQUENCE | 0                    | 0                | 0                    | 0                         | 0                              | 0                    | 0                                     | MSG_OPTION_NEW_MSG_SEQ_Q_TIMEOUT  )
#define G1_NO_ACK_NO_STORE_INTERRUPT_OPTIONS         ( MSG_OPTION_SEQUENCE | 0                    | 0                | 0                    | 0                         | 0                              | 0                    | 0                                     | 0                                 )
#define G3_INTERRUPT_OPTIONS                         ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | MSG_OPTION_ALLOW_LOW | 0                         | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G3_NO_STORE_INTERRUPT_OPTIONS                ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | MSG_OPTION_ALLOW_LOW | 0                         | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G4_INTERRUPT_OPTIONS                         ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | MSG_OPTION_ALLOW_LOW | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | MSG_OPTION_REM_FRM_SEQ_IN_NA_IGN_MODE | 0                                 )
#define G4_NO_STORE_INTERRUPT_OPTIONS_BLOCK_LOW      ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | 0					| MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G4_NO_STORE_INTERRUPT_OPTIONS                ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | MSG_OPTION_ALLOW_LOW | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G4_NO_STORE_LIFO_INTERRUPT_OPTIONS           ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | MSG_OPTION_ALLOW_LOW | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_SEQ_LIFO  | 0                                     | 0                                 )
#define G5_INTERRUPT_OPTIONS                         ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | MSG_OPTION_ALLOW_LOW | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G5_NO_STORE_INTERRUPT_OPTIONS                ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | MSG_OPTION_ALLOW_LOW | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G7_INTERRUPT_OPTIONS                         ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | MSG_OPTION_ALLOW_LOW | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0					| MSG_OPTION_REM_FRM_SEQ_IN_NA_IGN_MODE | 0 								                        )
#define G7_NO_STORE_INTERRUPT_OPTIONS                ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | MSG_OPTION_ALLOW_LOW | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G8_INTERRUPT_OPTIONS                         ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | MSG_OPTION_STORE | 0                    | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G8_NO_STORE_INTERRUPT_OPTIONS                ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | 0                    | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G8_NO_ACK_NO_STORE_INTERRUPT_OPTIONS         ( MSG_OPTION_SEQUENCE | 0                    | 0                | 0                    | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G2_NO_STORE_INTERRUPT_OPTIONS                ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | MSG_OPTION_ALLOW_LOW | 0                         | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_SEQ_LIFO  | 0										| MSG_OPTION_NEW_MSG_SEQ_Q_TIMEOUT	 )
#define G2_NO_STORE_NO_LOW_INTERRUPT_OPTIONS         ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | 0 					| 0                         | MSG_OPTION_DISP_INDICATIONTIME | MSG_OPTION_SEQ_LIFO  | 0										| MSG_OPTION_NEW_MSG_SEQ_Q_TIMEOUT	 )
#define G6_NO_STORE_INTERRUPT_OPTIONS                ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | 0                    | MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0                                     | 0                                 )
#define G6_NO_STORE_SEQ_INTERRUPT_OPTIONS            ( MSG_OPTION_SEQUENCE | MSG_OPTION_CLEARABLE | 0                | 0   					| MSG_OPTION_OVERRIDE_HIGH  | MSG_OPTION_DISP_INDICATIONTIME | 0                    | 0										                           | MSG_OPTION_NEW_MSG_SEQ_Q_TIMEOUT	 )
#define _ALL_                                        ( 0xFF)


#define VOID_PTR(x) ((void * const)(&x))


/*--------------------------------------------------------------------------*/
/* Message Callback Event Options -                                         */
/*--------------------------------------------------------------------------*/
#define UI_MSG_EVENT_NONE                   			( MSG_EVENT_NONE )
#define UI_MSG_EVENT_SHOW_ACK               			( MSG_EVENT_SHOW | MSG_EVENT_ACKNOWLEDGED )
#define UI_MSG_EVENT_SHOW_HIDE              			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN )
#define UI_MSG_EVENT_SHOW_HIDE_TIMEOUT      			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_TIMEOUT )
#define UI_MSG_EVENT_SHOW_HIDE_ACK          			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_ACKNOWLEDGED )
#define UI_MSG_EVENT_SHOW_HIDE_ACK_TIMEOUT  			( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_TIMEOUT | MSG_EVENT_ACKNOWLEDGED )
#define UI_MSG_EVENT_SHOW_HIDE_ACK_TIMEOUT_SEQ_TIMEOUT  ( MSG_EVENT_SHOW | MSG_EVENT_HIDDEN | MSG_EVENT_TIMEOUT | MSG_EVENT_ACKNOWLEDGED | MSG_EVENT_NEW_MSGQ_TIMEOUT	)


/*--------------------------------------------------------------------------*/
/* Timeout Options - Mapping with HMI timer management component            */
/*--------------------------------------------------------------------------*/

#define HMI_DISPLAY_REFRESH_RATE_IN_MS       16
#define HTS_TO_SECONDS(x)             	(((UINT16)x  * (UINT16)1000) / HMI_DISPLAY_REFRESH_RATE_IN_MS)
#define HTS_TO_MILLISECONDS(x)        	(((UINT16)x                  / HMI_DISPLAY_REFRESH_RATE_IN_MS))

#define TIMEOUT_30S               30000
#define TIMEOUT_10S               10000
#define TIMEOUT_6S                6000
#define TIMEOUT_5S                5000
#define TIMEOUT_4S                4000
#define TIMEOUT_2S                2000

#define TIMEOUT_1_5S              1500
#define NO_TIMEOUT                ((UINT8) 0)




/*==========================================================================*/
/* D A T A   A C C E S S   M A C R O S                                      */
/*==========================================================================*/
/* When a msg from a category need to be shown alternately in display then   */ 
/* configure the value of ALTERNATELY_SHOW_MSG_FRM_CATEGORY_ENABLED as TRUE. */
/* If this feature is not required then configure as FALSE.                  */

#define ALTERNATELY_SHOW_MSG_FRM_CATEGORY_ENABLED       ( FALSE )

/* When ALTERNATELY_SHOW_MSG_FRM_CATEGORY_ENABLED is TRUE then the category  */ 
/* from which the message need to be shown alternately should be configured. */
/* configure the category in CATEGORY_TO_BE_SHOWN_ALTERNATELY.  If value     */
/* of ALTERNATELY_SHOW_MSG_FRM_CATEGORY_ENABLED is FALSE then configure      */
/* CATEGORY_TO_BE_SHOWN_ALTERNATELY as mcMaximum                             */


#define CATEGORY_TO_BE_SHOWN_ALTERNATELY                ( mcMaximum )
#define CATEGORYMASK_TO_BE_SHOWN_ALTERNATELY            ( 1<<CATEGORY_TO_BE_SHOWN_ALTERNATELY )

#if defined hmi_msgDefinition_C

/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/

#else

/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


#endif


/*==========================================================================*/
/* R E V I S I O N    N O T E S                                             */
/*==========================================================================*/
/* For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**==========================================================================*/

/****************************************************************************
**  Date  : 02/AUG/2017
**  by    : svinothr
**  Ref   : None.
**  Change: Initial version-Leveraged from DE PHEV
*****************************************************************************/
/****************************************************************************
**  Date  : 17-Dec-2020
**  by    : bhariha1
**  Ref   : 1150700: [SU2 Color][VEK][25.3.1] "1.1.3 Goodbye(ADM OFF)" behaves like a Type-3 GUI
**  Change: Added G0_NO_ACK_NO_STORE_INTERRUPT_OPTIONS_SEQ
*****************************************************************************/
#endif /* hmi_msgDefinition_CFG */
/* end of file =============================================================*/
