/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2009. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
**  Name:               hmi_msgStore.cfg
**
**  Description:
**
**  Organization:       Driver Information Software Section,
**                      DI Core Engineering Department
**
**===========================================================================*/
#ifndef hmi_msgStore_CFG
#define hmi_msgStore_CFG

/*==========================================================================*/
/* I N C L U D E   F I L E S                                                */
/*==========================================================================*/

#if defined hmi_msgStore_C
/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/
#include "hmi_msgDefinition.h"
#include "hmi_msgSequencer.h"
#else
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


#endif

/*==========================================================================*/
/* T Y P E   D E F I N I T I O N S                                          */
/*==========================================================================*/

#if defined hmi_msgStore_C

/*----------------------------------------------------------------------*/
/* MACRO: Configure to arrange the store queue in first in first        */
/*        out manner.                                                   */
/*----------------------------------------------------------------------*/
#define STORE_QUEUE_FIFO

/*----------------------------------------------------------------------*/
/* MACRO: Configure to view the currently pointed msg even if queue is  */
/*        added with new messages or deleted with few messages.         */
/*----------------------------------------------------------------------*/
#define STORE_QUEUE_VIEW_CURRENT

/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/

#define MSG_STORE_VIEWER_OPTIONS    (OPTION_VIEWER_WRAP)


#ifdef MSG_ACK_WRNG_REPETITION
/*----------------------------------------------------------------------*/
/* MACRO:       Resolution of ack warning repeat timeout timer          */
/*----------------------------------------------------------------------*/
/* Mention the resolution of the timer in multiples of 100 millisecond  */
#define HMI_MSG_ACK_REP_TIMER_RESLN_IN_MILLSEC   (100)
#define HMI_MSG_ACK_REP_TIMER_RESLN_FACTOR     (HMI_MSG_SEC_TO_MILLISEC/HMI_MSG_ACK_REP_TIMER_RESLN_IN_MILLSEC)

/*----------------------------------------------------------------------*/
/* MACRO:       Value to be loaded to start seq MsgQueue timeout timer  */
/*----------------------------------------------------------------------*/
/* Accepted range of timer value to be loaded is 100ms to 1000ms(1sec)  */
/* If the timer resolution is 100ms then maximum new message queue      */
/* timeout value supported for a message is 25s.(UINT8 so 25*10 = 250)  */
/* If the timer resolution is 1000ms then maximum new message queue     */
/* timeout value supported for a message is 255s.(UINT8 so 255*1 = 255) */
#define HMI_MSG_ACK_REP_TIMER_VAL     (TO_MILLISEC(HMI_MSG_ACK_REP_TIMER_RESLN_IN_MILLSEC))

/*----------------------------------------------------------------------*/
/* If we are not using private timers, then define the name of the      */
/* kernel timer to be used for this module                              */
/*----------------------------------------------------------------------*/
#ifndef ENABLE_PRIVATE_TIMERS
#define STOR_ACK_WRNG_REP_TIMER_ID   hmi_msg_sequence_Ackwrng_1sec_KSWTIMER
#endif 
/*----------------------------------------------------------------------*/
/* MACRO: Ack warning repetition duration in seconds.                   */
/*----------------------------------------------------------------------*/
#define HMI_MSG_ACK_WRNG_REP_DURATION     (6)

#endif


/*----------------------------------------------------------------------*/
/* MACRO: Request client to add a message.                              */
/*----------------------------------------------------------------------*/
#define MSG_STORE_CLIENT_ADD(msg) /* No action */

/*----------------------------------------------------------------------*/
/* MACRO: Request client to remove a message.                           */
/*----------------------------------------------------------------------*/
#define MSG_STORE_CLIENT_REMOVE(msg)    /* No action */

/*----------------------------------------------------------------------*/
/* MACRO: Purce action.                                                 */
/*----------------------------------------------------------------------*/
#define MSG_STORE_PURGE(msg)    msg_SequencerAdd(msg)

/*----------------------------------------------------------------------*/
/* MACRO: Notify viewer that a message has changed.                     */
/*----------------------------------------------------------------------*/
#include "hmi_msgTest.h"
#define MSG_STORE_NOTIFY_VIEWER()       test_Notification(MSG_STORE_NOTIFY) /* test */

#else
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


#endif

/*==========================================================================*/
/* D A T A   A C C E S S   M A C R O S                                      */
/*==========================================================================*/

#if defined hmi_msgStore_C
/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/

#else
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


#endif


/*==========================================================================*/
/* R E V I S I O N    N O T E S                                             */
/*==========================================================================*/
/* For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**==========================================================================*/

/****************************************************************************
**  Date  : 12/Apr/2010
**  by    : AFERRIS2
**  Ref   : None.
**  Change: Initial version.
**
*****************************************************************************/

/****************************************************************************
**  Date: 06/May/2010     by: AFERRIS2        Ref: None.
**  Change: 1.  Add viewer notification when a message changes.
**
**  Checks: COMPILER - NOT CHECKED       QAC - NOT CHECKED
*****************************************************************************/

/****************************************************************************
**  Date: 07/Jul/2010     by: AFERRIS2        Ref:
**  Change: 1.  Add option to control wrapping of viewed messages
**
**  Checks: COMPILER - NOT CHECKED       QAC - NOT CHECKED
*****************************************************************************/

/****************************************************************************
**  Date: 27/Dec/2013     by: adevi               Ref: RTC 91917
**  HMI_MSG_ACK_WRNG_1SEC_TMR_VAL macro added to load while starting timer.
**  HMI_MSG_ACK_WRNG_REP_DURATION macro added for ack warning repetiton time.
*****************************************************************************/

/****************************************************************************
**  Date: 13/Aug/2015     by: adevi               Ref: RTC 399553
**  Ack warning repetiton timer resolution modified.
*****************************************************************************/

#endif /* hmi_msgStore_CFG */
/* end of file =============================================================*/
