CompileFlags:                     # Tweak the parse settings
  Add:
        - "-include"
        - "~/qcc.inc"
        - "-ferror-limit=0"
Diagnostics:
  Suppress: [conflicting_types,asm_invalid_output_constraint]