[Unit]
Description=Test application 18_2

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/system/usr/lib:$LD_LIBRARY_PATH"
ExecStart=/system/usr/bin/wdg_test_FT/test_02 18 10
WatchdogSec=1
Restart=no

StandardOutput=journal
StandardError=journal