/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2008. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_simulation_tick.cfg
**
** Description:    This file contains the configuration required for the
**                 hmi simulation framework.
**
** Organization:   Driver Information Software Section,
**                 DI Core Engineering Department
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_SIMULATION_TICK_CFG
#define HMI_SIMULATION_TICK_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/

/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/

/*
** Define the tickrate for the simulation in milli seconds.
** The externed global l_system_tick_U16 will be incremented at this rate.
*/
#define HMI_SIMUL_TICK_MSEC     (33)

/*
** When HMI_SIM_UPDATE_LCD_PERIODIC is defined -
**    An LCD refresh after every DCU process. This might cause flickering,
**    effects when the display contains many widgets. In such case do not
**    define this macro.
** When HMI_SIM_UPDATE_LCD_PERIODIC is not defined -
**    LCD refresh is not automatically done and responsibility lies with
**    application. Refresh can be done by invoking gls_update_lcd()
**    Invoke gls_update_lcd() when ever all the display RAM is built
**    and all DCU registers set correctly.
*/
#define HMI_SIM_UPDATE_LCD_PERIODIC

/*============================================================================
** E N T R Y   P O I N T S
**==========================================================================*/

/*============================================================================
** D A T A   A C C E S S   S E R V I C E S
**==========================================================================*/


/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
**
** Rev 1.0          23-Sep-2009  EMANOJ1
** Initial revision.
**
** Rev 1.1          15-Aug-2010  EMANOJ1
** Updated to fix matlab crash issue
**
**==========================================================================*/

/* end of file =============================================================*/
#endif
