/*****************************************************************************
*                                                                            *
*              CONFIDENTIAL VISTEON CORPORATION                              *
*                                                                            *
* This is an unpublished work of authorship, which contains trade            *
* secrets, created in 2004. Visteon Corporation owns all rights to           *
* this work and intends to maintain it in confidence to preserve             *
* its trade secret status. Visteon Corporation reserves the right,           *
* under the copyright laws of the United States or those of any              *
* other country that may have jurisdiction, to protect this work             *
* as an unpublished work, in the event of an inadvertent or                  *
* deliberate unauthorized publication. Visteon Corporation also              *
* reserves its rights under all copyright laws to protect this               *
* work as a published work, when appropriate. Those having access            *
* to this work may not copy it, use it, modify it or disclose the            *
* information contained in it without the written authorization              *
* of Visteon Corporation.                                                    *
*                                                                            *
******************************************************************************/

/*****************************************************************************

File Name        :  hmi_gfx_mgr_app.cfg
Module Short Name:  Driver
VOBName          :  sw_hmi_ss
Author           :  emanoj1
Description      :  Application configurations for the Graphics Manager. This is
                    in addition to the autogenerated hmi_gfx_mgr_cfg.h
Organization     :  Driver Information Software Section,
                    Visteon Corporation

******************************************************************************/
#ifndef HMI_GFX_MGR_APP_CFG
#define HMI_GFX_MGR_APP_CFG

#include "hmi_presetation.h"

/*****************************************************************************
*                                 Constant Declarations                      *
*----------------------------------------------------------------------------*
* Declaration shall be followed by a comment that gives the following info.  *
* about the constant.                                                        *
* purpose, unit, and resolution                                              *
******************************************************************************/

#define GFX_MGR_NEED_INTERFACE_LAYER

#define GFX_TOUCH_SCREEN_ENABLED 1
#define GFX_TOUCH_EVENT_Q_SIZE   20
#define GFX_TOUCH_SCREEN_EVENT_DISPATCH(elem_id, cur_state, touch_event) GfxTouchEventHandler(elem_id, cur_state, touch_event)

/*
** Normally in double buffered display manager expects that the the
** just built frame buffer content is copied to the next buffer so that
** it just need to rework only on the changed sections. In such cases if the
** user wants to control the post copy in cases where the display is taking
** a transition such as an animation sequence, where user knows that every display
** is going to be new, he would want the post copy to be disabled.
** By setting the GFX_MANAGER_NEED_POST_COPY_USER_CONTROL to 1 will enable the
** GfxManagerBuildScreen to accept a parameter with bit encoding such as Bit0
** represents Layer 0, Bit 1 represents layer 1 etc. If the correcponding bit is
** set then only the post copy will be initiated for that layer.
** Set GFX_MANAGER_NEED_POST_COPY_USER_CONTROL to 0 if the display is not double
** buffered or the user control is not necessary.
*/
#define GFX_MANAGER_NEED_POST_COPY_USER_CONTROL      (1)

/*
** Set GFX_MANAGER_NEED_BEGIN_UPDATE_NOTIFICATION to 1 if the user want a
** notification from the manager before start of a layer build. The manager
** will invoke GfxDriverBeginUpdate() prior to start of building the layer.
** For multipayer display the first parameter will indicate the layer id.
** Set GFX_MANAGER_NEED_BEGIN_UPDATE_NOTIFICATION to 0 if no prior notification
** is needed.
*/
#define GFX_MANAGER_NEED_BEGIN_UPDATE_NOTIFICATION   (1)

/*
** Set GFX_MANAGER_LOW_PRIORITY_SCREEN_UPDATE to one of the following to
** control how the higher priority screen need to behave if a content
** change happens in lower priority screens.
** GFX_BLOCK         - if the user wants to block all updates to a lower
**                     priority screen while a higher priority screen is active
**                     on the display use this setting. This will make the low
**                     priority screen content freezed until the higher priority
**                     screen is active.
** GFX_PAINT_CHANGED - if the user wants to update the low priority screen
**                     while a higher priority screen is active by repainting
**                     only the low priority screen area/s which are updated.
**                     This gives better refresh timing since we are building
**                     only changed areas. Note that this is supported only for
**                     the Yukawa GDT and not supported for 1BPP version.
** GFX_REPAINT       - if the user wants to update the low priority screen
**                     while a higher priority screen is active by repainting
**                     whole of the high priority screens. The refresh timing
**                     will be more compared to GFX_PAINT_CHANGED. This is not
**                     suitable if the high priority screens has alpha blending
**                     area with low priority screens (in such cases only
**                     GFX_BLOCK or GFX_PAINT_CHANGED can only be used).
** GFX_NONE          - None of the above are applied. If a low priority screen
**                     changes it will be refreshed and will not cause any paint
**                     or repaint of high priority screens. This setting will only
**                     be useful if the low/high priority screens don't overlap.
**                     if there are overlaps, then this setting will cause a
**                     corrupted display if any low priority screen changes in the
**                     overlapped area.
*/
#define GFX_MANAGER_LOW_PRIORITY_SCREEN_UPDATE       (GFX_BLOCK)

/*
** Set GFX_MANAGER_NEED_INITIALIZED_DYN_TEXT to 1 if the user wants
** to initialize all the dynamic text to the sample text entered in the xml design.
** This will require ROM space to generate the initialization data.
** Leave it at 0 if the dynamic text need not be initialized.
*/
#define GFX_MANAGER_NEED_INITIALIZED_DYN_TEXT        (1)

/*
** Set GFX_MANAGER_NEED_INITIALIZED_DYN_WIDGET to 1 if the user wants
** to initialize all the dynamic widgets to the default index entered in the xml design.
** This will require ROM space to generate the initialization data.
** Leave it at 0 if the dynamic widgets need not be initialized.
*/
#define GFX_MANAGER_NEED_INITIALIZED_DYN_WIDGET      (1)

/*
** Set GFX_MANAGER_NEED_INITIALIZED_DYN_IMAGE to 1 if the user wants
** to initialize all the dynamic images to the default index entered in the xml design.
** This will require ROM space to generate the initialization data.
** Leave it at 0 if the dynamic widgets need not be initialized.
*/
#define GFX_MANAGER_NEED_INITIALIZED_DYN_IMAGE       (1)

/*
** Set GFX_NEED_NESTED_DYNAMIC_WIDGET_SUPPORT to 1 if the user wants
** nested dynamic widget building support. If enabled and then if user
** adds a dynamic widget inside a dynamic widget, the manager will correctly
** build it. Manager uses recursive function call to resolve the widget.
** If disabled, then if the user adds a dynamic widget inside dynamic widget
** it will not be built by the manager. Manager also doesn't use recursive
** calls to resolve dynamic widget.
*/
#define GFX_NEED_NESTED_DYNAMIC_WIDGET_SUPPORT       (1)


/*****************************************************************************
*                                 Global Macro Definitions                   *
*----------------------------------------------------------------------------*
* Definition of macro shall be followed by a comment that explains the       *
* purpose of the macro.                                                      *
******************************************************************************/

/*****************************************************************************
*                                 Type Decleration                           *
*----------------------------------------------------------------------------*
* Decleration of type shall be accompanied by a comment that explains the    *
* purpose and usage of the type.                                             *
******************************************************************************/

/*****************************************************************************
*                                 Global Variable Declarations               *
*----------------------------------------------------------------------------*
* Declaration shall be followed by a comment that gives the following info.  *
* about the variable.                                                        *
* purpose, critical section, unit, and resolution                            *
******************************************************************************/

/*****************************************************************************
*                                 Global Function Prototypes                 *
******************************************************************************/

/*End of File*/
/*****************************************************************************
*   for each change to this file, be sure to record:                         *
*      1.  who made the change and when the change was made                  *
*      2.  why the change was made and the intended result                   *
*   Following block needs to be repeated for each change
******************************************************************************
*   Note: In the traceability column we need to trace back to the Design Doc.*
*   For the initial version it is traced to the Design Document section.     *
*   For further changes it shall trace to the source of the change which may *
*   be SPSS/SCR/Defect details(Defect may be Testing/validation defect)/Any  *
*   other reason                                                            *
******************************************************************************/

/*---------------------------------------------------------------------------
Date              :
By                :
Traceability      :
Change Description:
-----------------------------------------------------------------------------*/
#endif /* HMI_GFX_MGR_APP_CFG */
