/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2010. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_logic_state_handler.cfg
**
** Description:    Logic states configuration.
**
** Organization:   Driver Information Software Section,
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_LOGIC_STATE_HANDLER_CFG
#define HMI_LOGIC_STATE_HANDLER_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/
#include "system.h"
#include "tmwtypes.h"

/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/
#define LSH_ID_8_BIT_MASK  0
#define LSH_ID_12_BIT_MASK 1

#define LSH_BTN_ID_MASK_CFG       LSH_ID_12_BIT_MASK

/*
** Define the following with an unused value
** LSH_INVALID_BUTTON_ID     - assign an ID that is not used by application.
** LSH_BUTTON_INACTIVE_STATE - assign the state that is used to determine an inactive state.
**                             This state is used for releasing a button slot.
*/
#define ButtonID_POWER            0
#define ButtonID_0                1
#define ButtonID_1                2
#define ButtonID_2                3
#define ButtonID_3                4
#define ButtonID_4                5
#define ButtonID_SOFT_KEY_1       11
#define ButtonID_SOFT_KEY_2       11
#define ButtonID_SOFT_KEY_3       11
#define ButtonID_SOFT_KEY_4       11
#define ButtonID_HOUR             12
#define ButtonID_MINUTE           13
#define ButtonID_VOLUME_KNOB      14
#define ButtonID_MMRC_VOLUME_DOWN 15
#define ButtonID_MMRC_PTT   	  16
#define ButtonID_HOUR_MIN         17
#define LSH_INVALID_BUTTON_ID      (0xFFFF)

#define BUTTON_PRESSED              1
#define BUTTON_REPEAT1              2
#define BUTTON_REPEAT2              3
#define BUTTON_REPEAT3              4
#define BUTTON_REPEAT4              5
#define LSH_BUTTON_INACTIVE_STATE  (0)

/*
** Create the button id range for individual slots by creating a series of
** {start_button_id, end_button_id} ranges as shown in the sample configuration below.
** Following points needs to be noted while configuring the
** slot ranges.
** 1. For a slot range the first entry(start_button_id) shall be a smaller or
**    equal numeric values with repspect to the second entry (end_button_id)
** 2. If the same range of buttons need to have multiple slots, then they must be
**    entered in sequence as shown in the below sample configuration for
**    {ButtonID_0,                ButtonID_SOFT_KEY_4 }
** 3. If a particular sub range from a master range needs to have a seperate slot
**    then, the sub range needs to be configured first followed by the master range.
**    For example, if the ButtonID_POWER falls between the  ButtonID_0 to
**    ButtonID_SOFT_KEY_4 range and the user wants to have a seperate slot for
**    ButtonID_POWER then ButtonID_POWER needs to be configured first and followed
**    by ButtonID_0 to ButtonID_SOFT_KEY_4 as shown in the below sample configuration.
*/
#define LSH_BUTTON_ID_SLOT_CONFIG_LIST                     \
        {ButtonID_POWER,            ButtonID_POWER      }, \
        {ButtonID_0,                ButtonID_SOFT_KEY_4 }, \
        {ButtonID_0,                ButtonID_SOFT_KEY_4 }, \
        {ButtonID_0,                ButtonID_SOFT_KEY_4 }, \
        {ButtonID_0,                ButtonID_SOFT_KEY_4 }, \
        {ButtonID_HOUR,             ButtonID_MINUTE     }, \
        {ButtonID_VOLUME_KNOB,      ButtonID_VOLUME_KNOB}, \
        {ButtonID_MMRC_VOLUME_DOWN, ButtonID_MMRC_PTT   }, \
        {ButtonID_HOUR_MIN,         ButtonID_HOUR_MIN   }

/*
** Specify the number of range entries made to the LSH_BUTTON_ID_SLOT_CONFIG_LIST.
** In the above sample configuration there are 9 entries.
*/
#define LSH_NUMBER_OF_BUTTON_SLOTS   (9)

/*
**>Set the following macro to 1 if the button events needs to be passed to handlers
** as an encoded single UINT16 value as 0xCCCS
** Where CCC - (0x000 to 0xFFF) can be the button ID
**       S	 - (0x0   to 0xF  )	can be the button status.
** Limitation here is that the status cannot have values > 0x0F
**>Set the following macto to 0 if the button events needs to be passed to handlers
** as is. i.e. button ID as first parameter and button status as second parameter.
** For cases where we have rotary knobs with state values ranging from -30 to +30
** for example, this option could be choosen.
*/
#define LSH_ENCODE_BUTTON_ID_AND_STATE (1)

/*
** Set LSH_NEED_DEFAULT_BUTTON_EVENT_HANDLER to (1) if default button event handler is
** required. LSH will pass the button events not registered with any state to the
** default button event handler. Application needs to implement the default handler
** "hmi_lsh_default_button_event_handler" to receive the events.
**
** If default button event handler is not required set the
** LSH_NEED_DEFAULT_BUTTON_EVENT_HANDLER to (0)
*/
#define LSH_NEED_DEFAULT_BUTTON_EVENT_HANDLER	 (1)


/*
 * Set LSH_ANIMATION_SUPPORT_ENABLED to 1 if animation is enabled */
#define LSH_ANIMATION_SUPPORT_ENABLED  (1)

/*
 * Set LSH_CHECK_ANIMATION_SEQNCR_INACTIVE to "TRUE" if the presentation needs to be
 * scheduled parallely with the Animation Handler or Set to Animation stauts to
 * block the presentation while animation is in progress
 * */
#define LSH_CHECK_ANIMATION_SEQNCR_INACTIVE()  (TRUE)


/*
 * Define this macro with "1" to block the presentation for the proirty for
 * which the animation is currently active. The presentation will the called
 * asusal once the animation is complete. Otherwise remove the macro definition
 * */
#define LSH_ANIM_BLOCK_INDIVIDUAL_PRIOR_PRESNT    (1)


/*============================================================================
** E N T R Y   P O I N T S
**==========================================================================*/

/*============================================================================
** D A T A   A C C E S S   S E R V I C E S
**==========================================================================*/

/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
** CMS Rev 1.2     23-Dec-2010    GPURUSO1
** Added support to block only the individual Priorit's Presentation
** when an animation is active for that priority
**
**
** CMS Rev 1.1      11-Mar-2010    EMANOJ1
** Added LSH_DEFAULT_BUTTON_EVENT_HANDLER to handle unhandled button events.
**
** Rev 1.0          19-JAN-10    EMANOJ1
** Creation.
**
**==========================================================================*/

/* end of file =============================================================*/
#endif
