/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2010. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_menu_core_01.cfg
**
** Description:    Configuration file for the Menu Core
**
** Organization:   Driver Information Software Section,
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_MENU_CORE_01_CFG
#define HMI_MENU_CORE_01_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/
#include "system.h"
#include "hmi_menu_def_1.inc"
#include "hmi_logic_state_handler.h"
#include "hmi_language_interface.h"
#include "hmi_gfx_anim_engine.h"
#include "hmi_menu_core_01_types.h"
#include "hmi_timer_support.h"

/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/

#ifdef 	LSH_ANIMATION_SUPPORT_ENABLED
  /* Map the Animation value */
  #define HMI_MENU_ANIMATION_ABORT                                  ANIMATION_INVALID_ID                        		
  #define HMI_MENU_WIPER_LEFT_ANM(menu_anim_data_ptr)          		  ANIMATION_INVALID_ID
  #define HMI_MENU_PLEASE_WAIT_ANM(menu_anim_data_ptr)         		  ANIMATION_INVALID_ID
  #define HMI_MENU_FOCUS_FRAME_MOVE_UP_ANIM(menu_anim_data_ptr)		  ANIMATION_INVALID_ID
  #define HMI_MENU_FOCUS_FRAME_MOVE_DOWN_ANIM(menu_anim_data_ptr)	  ANIMATION_INVALID_ID
  #define HMI_MENU_LIST_WNDW_MOVE_UP_ANIM(menu_anim_data_ptr)  		  ANIMATION_INVALID_ID
  #define HMI_MENU_LIST_WNDW_MOVE_DOWN_ANIM(menu_anim_data_ptr)		  ANIMATION_INVALID_ID
  #define HMI_MENU_FAST_SCROLL_UP_ANIM(menu_anim_data_ptr)         	ANIMATION_INVALID_ID
  #define HMI_MENU_FAST_SCROLL_DOWN_ANIM(menu_anim_data_ptr)       	ANIMATION_INVALID_ID
  #define HMI_MENU_WIPER_RIGHT_ANM(menu_anim_data_ptr)			        ANIMATION_INVALID_ID
  #define HMI_MENU_DOUBLE_WIPER_ANM(menu_anim_data_ptr)			        ANIMATION_INVALID_ID
  #define HMI_MENU_ITEM_WRAP_ROUND_UP_ANIM(menu_anim_data_ptr) 		  ANIMATION_INVALID_ID
  #define HMI_MENU_ITEM_WRAP_ROUND_DOWN_ANIM(menu_anim_data_ptr)    ANIMATION_INVALID_ID
  #define HMI_MENU_SCALE_ADJUST_LEFT_ANIM(menu_anim_data_ptr)       ANIMATION_INVALID_ID
  #define HMI_MENU_SCALE_ADJUST_RIGHT_ANIM(menu_anim_data_ptr)      ANIMATION_INVALID_ID          		
  #define HMI_MENU_FRAME_EXPAND_ANIM(menu_anim_data_ptr)     		    ANIMATION_INVALID_ID
  #define HMI_MENU_REBUILD_ANIM(menu_anim_data_ptr)            		  ANIMATION_INVALID_ID
  #define HMI_MENU_INSTANCE_OPEN_ANIM                               ANIMATION_INVALID_ID                        
  #define MENU_DO_FRAME_EXPAND_ANIMATION                                           
  #define HMI_MENU_FRAME_EXPAND_TMR_VALUE	                           2000
  #define HMI_MENU_FRAME_EXPAND_START_TIMER(value)		            
  #define HMI_MENU_FRAME_EXPAND_STOP_TIMER()			           
#endif

#ifdef HMI_MENU_FLOATING_MENU_FEATURE
  HMI_MENU_LOGIC_GET_FLOATING_MENU_FOCUS_ENTRY(menu_id,index) 
#endif

#define ButtonStateActive                        (1)


#define UP_IN         ((((UINT16)BTN_ID_UP) << 4)     | (UINT8)ButtonStateActive)
#define DOWN_IN       ((((UINT16)BTN_ID_DN) << 4)     | (UINT8)ButtonStateActive)
#define LEFT_IN       ((((UINT16)BTN_ID_LT) << 4)     | (UINT8)ButtonStateActive)
#define RIGHT_IN      ((((UINT16)BTN_ID_RT) << 4)     | (UINT8)ButtonStateActive)
#define OK_IN         ((((UINT16)BTN_ID_ENTER) << 4)  | (UINT8)ButtonStateActive)
#define ESC_IN        ((((UINT16)BTN_ID_ESC) << 4)    | (UINT8)ButtonStateActive)


/*
** Menu oriented Timer configuration
*/

#define HMI_MENU_WAIT_TEMP_TIMER_VALUE                          1


#define HMI_MENU_START_TIMER(menu_id, timerid, value)                    hmi_menu_core_start_timer(menu_id, timerid, value)
#define HMI_MENU_STOP_TIMER(menu_id, timerid)                            hmi_menu_core_stop_timer(menu_id, timerid)

#define HMI_MENU_START_WAIT_TEMP_TIMER(menu_id, timerid, value)          hmi_menu_core_start_timer(menu_id, timerid, value)
#define HMI_MENU_STOP_WAIT_TEMP_TIMER(menu_id, timerid)                  hmi_menu_core_stop_timer(menu_id, timerid)




/*============================================================================
** E N T R Y   P O I N T S
**==========================================================================*/
/*============================================================================
** D A T A   A C C E S S   S E R V I C E S
**==========================================================================*/

/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
**
** CMS Rev 1.0      23-MAR-15    arajase2
** Creation.
**
**==========================================================================*/
/* end of file =============================================================*/
#endif
