/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2009. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
**  Name:               hmi_msgStore.cfg
**
**  Description:
**
**  Organization:       Driver Information Software Section,
**                      DI Core Engineering Department
**
**===========================================================================*/
#ifndef hmi_msgStore_CFG
#define hmi_msgStore_CFG

/*==========================================================================*/
/* I N C L U D E   F I L E S                                                */
/*==========================================================================*/

#if defined hmi_msgStore_C
/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/
#include "hmi_msgDefinition.h"
#include "hmi_msgSequencer.h"

#else
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


#endif

/*==========================================================================*/
/* T Y P E   D E F I N I T I O N S                                          */
/*==========================================================================*/

#if defined hmi_msgStore_C

/*----------------------------------------------------------------------*/
/* MACRO: Configure to arrange the store queue in first in first        */
/*        out manner.                                                   */
/*----------------------------------------------------------------------*/
#define STORE_QUEUE_FIFO

/*----------------------------------------------------------------------*/
/* MACRO: Configure to view the currently pointed msg even if queue is  */
/*        added with new messages or deleted with few messages.         */
/*----------------------------------------------------------------------*/
#define STORE_QUEUE_VIEW_CURRENT

/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/

#define MSG_STORE_VIEWER_OPTIONS    (OPTION_VIEWER_WRAP)


/*----------------------------------------------------------------------*/
/* MACRO: Request client to add a message.                              */
/*----------------------------------------------------------------------*/
#define MSG_STORE_CLIENT_ADD(msg) /* No action */

/*----------------------------------------------------------------------*/
/* MACRO: Request client to remove a message.                           */
/*----------------------------------------------------------------------*/
#define MSG_STORE_CLIENT_REMOVE(msg)    /* No action */

/*----------------------------------------------------------------------*/
/* MACRO: Purce action.                                                 */
/*----------------------------------------------------------------------*/
#define MSG_STORE_PURGE(msg)    msg_SequencerAdd(msg)

/*----------------------------------------------------------------------*/
/* MACRO: Notify viewer that a message has changed.                     */
/*----------------------------------------------------------------------*/
#define MSG_STORE_NOTIFY_VIEWER()       

#else
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


#endif

/*==========================================================================*/
/* D A T A   A C C E S S   M A C R O S                                      */
/*==========================================================================*/

#if defined hmi_msgStore_C
/*--------------------------------------*/
/* Private                              */
/*--------------------------------------*/

#else
/*--------------------------------------*/
/* Public                               */
/*--------------------------------------*/


#endif


/*==========================================================================*/
/* R E V I S I O N    N O T E S                                             */
/*==========================================================================*/
/* For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**==========================================================================*/

/****************************************************************************
**  Date  : 12/Apr/2010
**  by    : AFERRIS2
**  Ref   : None.
**  Change: Initial version.
**
*****************************************************************************/

/****************************************************************************
**  Date: 06/May/2010     by: AFERRIS2        Ref: None.
**  Change: 1.  Add viewer notification when a message changes.
**
**  Checks: COMPILER - NOT CHECKED       QAC - NOT CHECKED
*****************************************************************************/

/****************************************************************************
**  Date: 07/Jul/2010     by: AFERRIS2        Ref:
**  Change: 1.  Add option to control wrapping of viewed messages
**
**  Checks: COMPILER - NOT CHECKED       QAC - NOT CHECKED
*****************************************************************************/

/****************************************************************************
**  Date: 27/Dec/2013     by: adevi               Ref: RTC 91917
**  HMI_MSG_ACK_WRNG_1SEC_TMR_VAL macro added to load while starting timer.
**  HMI_MSG_ACK_WRNG_REP_DURATION macro added for ack warning repetiton time.
*****************************************************************************/

#endif /* hmi_msgStore_CFG */
/* end of file =============================================================*/
