/*****************************************************************************
*                                                                            *
*              CONFIDENTIAL VISTEON CORPORATION                              *
*                                                                            *
* This is an unpublished work of authorship, which contains trade            *
* secrets, created in 2004. Visteon Corporation owns all rights to           *
* this work and intends to maintain it in confidence to preserve             *
* its trade secret status. Visteon Corporation reserves the right,           *
* under the copyright laws of the United States or those of any              *
* other country that may have jurisdiction, to protect this work             *
* as an unpublished work, in the event of an inadvertent or                  *
* deliberate unauthorized publication. Visteon Corporation also              *
* reserves its rights under all copyright laws to protect this               *
* work as a published work, when appropriate. Those having access            *
* to this work may not copy it, use it, modify it or disclose the            *
* information contained in it without the written authorization              *
* of Visteon Corporation.                                                    *
*                                                                            *
******************************************************************************/

/*****************************************************************************

File Name        :  hmi_gfx_wince_driver.cfg
Module Short Name:  Driver
VOBName          :  sw_hmi_ss
Author           :  abalaji
Description      :  Graphics Driver Configuration
Organization     :  Driver Information Software Section,
                    Visteon Corporation

******************************************************************************/
#ifndef HMI_GFX_WINCE_DRIVER_CFG
#define HMI_GFX_WINCE_DRIVER_CFG

#include "hmi_gfx_wince_driver.h"
#include "hmi_gfx_manager.h"
#include "hmi_test.h"
#include "hmi_gfx_mgr_cfg.h"

/*****************************************************************************
*                                 Constant Declarations                    *
*----------------------------------------------------------------------------*
* Declaration shall be followed by a comment that gives the following info.  *
* about the constant.                                                        *
* purpose, unit, and resolution                                              *
******************************************************************************/

#define MOUSE_SUPPORT
//#define TASKBAR_HIDE
//#define KEYBOARD_SUPPORT
/* driver handles old background copy for eglSwapBuffers() */
#define VG_SURFACE_BG_COPY


/*****************************************************************************
*                                 Global Macro Definitions                   *
*----------------------------------------------------------------------------*
* Definition of macro shall be followed by a comment that explains the       *
* purpose of the macro.                                                      *
******************************************************************************/

#define GFX_VG_RED_SIZE                     (8)
#define GFX_VG_GREEN_SIZE                   (8)
#define GFX_VG_BLUE_SIZE                    (8)
#define GFX_VG_ALPHA_SIZE                   (8)

#define GFX_VG_STENCIL_SIZE                 (8)
#define GFX_VG_LUMINANCE_SIZE               (EGL_DONT_CARE)
#define GFX_VG_COLOR_DEPTH                  (EGL_DONT_CARE)
#define GFX_VG_SURFACE_TYPE                 (EGL_WINDOW_BIT)

#define GFX_VG_SCREEN_WIDTH                 (GFX_MAX_W_LENGTH)
#define GFX_VG_SCREEN_HEIGHT                (GFX_MAX_H_LENGTH)

#define GFX_WIN_LMOUSE_DOWN(X, Y)           GfxManagerTouchEventHandler(X, Y, 1)
#define GFX_WIN_LMOUSE_UP(X, Y)             GfxManagerTouchEventHandler(X, Y, 0)
#define GFX_WIN_MOUSE_MOVE(X, Y)

#define GFX_WIN_KEY_DOWN()
#define GFX_WIN_KEY_UP()

#define GFX_WIN_APP_TIMER_START()
#define GFX_WIN_APP_TIMER_ABORT()
#define GFX_WIN_APP_TIMER_DONE()

#define GFX_VG_REQ_FB_BG_COPY()
#define GFX_VG_APP_INIT()                    //call appinit/mgrinit fn
#define GFX_VG_APP_EXECUTE()                 //call periodic gfx execution fn

/*****************************************************************************
*                                 Type Decleration                           *
*----------------------------------------------------------------------------*
* Decleration of type shall be accompanied by a comment that explains the    *
* purpose and usage of the type.                                             *
******************************************************************************/

/*****************************************************************************
*                                 Global Variable Declarations               *
*----------------------------------------------------------------------------*
* Declaration shall be followed by a comment that gives the following info.  *
* about the variable.                                                        *
* purpose, critical section, unit, and resolution                            *
******************************************************************************/

/*****************************************************************************
*                                 Global Function Prototypes                 *
******************************************************************************/

/*End of File*/
/*****************************************************************************
*   for each change to this file, be sure to record:                         *
*      1.  who made the change and when the change was made                  *
*      2.  why the change was made and the intended result                   *
*   Following block needs to be repeated for each change
******************************************************************************
*   Note: In the traceability column we need to trace back to the Design Doc.*
*   For the initial version it is traced to the Design Document section.     *
*   For further changes it shall trace to the source of the change which may *
*   be SPSS/SCR/Defect details(Defect may be Testing/validation defect)/Any  *
*   other reason                                                            *
******************************************************************************/
/*---------------------------------------------------------------------------
  Date              : 11/29/2010
  By                : abalaji
  Traceability      : Initial version
  Change Description: WinCE graphics driver with OpenVG support
-----------------------------------------------------------------------------*/
#endif /*HMI_GFX_WINCE_DRIVER_CFG*/
