[Unit]
Description=Test application 14

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/system/usr/lib:$LD_LIBRARY_PATH"
ExecStart=/system/usr/bin/wdg_test_FT/test_14 14 10
WatchdogSec=1
Restart=on-abort

StandardOutput=journal
StandardError=journal