/*============================================================================
**
**                     CONFIDENTIAL VISTEON CORPORATION
**
** This is an unpublished work of authorship, which contains trade secrets,
** created in 2011. Visteon Corporation owns all rights to this work and
** intends to maintain it in confidence to preserve its trade secret status.
** Visteon Corporation reserves the right, under the copyright laws of the
** United States or those of any other country that may have jurisdiction,
** to protect this work as an unpublished work, in the event of an
** inadvertent or deliberate unauthorized publication. Visteon Corporation
** also reserves its rights under all copyright laws to protect this work as
** a published work, when appropriate. Those having access to this work may
** not copy it, use it, modify it or disclose the information contained in
** it without the written authorization of Visteon Corporation.
**
**============================================================================
**
** Name:           hmi_gfx_mgr02.cfg
**
** Description:    Template Configuration file for the graphics manager.
**
** Organization:   Driver Information Software Section,
**
**============================================================================
**
**==========================================================================*/
#ifndef HMI_GFX_MGR02_CFG
#define HMI_GFX_MGR02_CFG

/*============================================================================
** I N C L U D E   F I L E S
**==========================================================================*/
#ifdef WIN32
 #include <Windows.h>
 #include <WinBase.h>
 #include <malloc.h>
 #include <stdio.h>
#endif

#ifdef  __cplusplus
extern "C" {
#endif
/*============================================================================
** T Y P E   D E F I N I T I O N S
**==========================================================================*/

#define GFX_MGR02_PRECREATE_FONTS (FONTS_SVG)

#ifdef WIN32

#ifdef HMI_GFX_MGR02_PERFLOG_C
//for high performance timer
__int64 winGetPerformCounter(void)
{
   LARGE_INTEGER lPerformanceCount = {0};
   QueryPerformanceCounter(&lPerformanceCount);
   return(lPerformanceCount.QuadPart);
}
        
__int64 winGetPerformFreq(void)
{
   LARGE_INTEGER lFrequency = {0};
   QueryPerformanceFrequency(&lFrequency);
   return(lFrequency.QuadPart);
}
//for system tick counter, 1mSec resln
DWORD winGetSysTickCounter(void)
{
   return(GetTickCount());
}
DWORD winGetSysTickFreq(void)
{
   return(1000);
}
#endif

#define GFX_MGR02_ENABLE_LOG
#define GFX_TCOUNT            winGetPerformCounter() // or winGetSysTickCounter() //
#define GFX_TCOUNT_TYPE       __int64                // or DWORD                  //
#define GFX_TCOUNT_HZ         winGetPerformFreq()    // or winGetSysTickFreq()    //

#endif

#ifdef WIN32
#define GFX_FILL_IMG_DATA_SUFFIX
#else
#define GFX_FILL_IMG_DATA_SUFFIX __attribute__ ((aligned (8)))
#endif

#define GFX_MGR02_TOUCH_EVENT_Q_SIZE  (10)
#define GFX_MGR02_CREATE_CS(x)        \
CRITICAL_SECTION x
#define GFX_MGR02_INIT_CS(x)                 InitializeCriticalSection(&(x))
#define GFX_MGR02_DELATE_CS(x)               (DeleteCriticalSection(&(x))
#define GFX_MGR02_ENTER_CS(x)                EnterCriticalSection(&(x))
#define GFX_MGR02_LEAVE_CS(x)                LeaveCriticalSection(&(x))

/*
** Number of layers supported by the DCU
*/
#define GFX_MGR02_NUM_DCU_LAYERS  (16)
#define GFX_MGR02_RESERVE_LAYERS_FOR_HIGH_PRIORITY_SCREEN

/*
** Enable debug print statements if needed.
*/
#ifdef _DEBUG
  #define gfx_debug(fmt, ...) printf(fmt, __VA_ARGS__)
#endif

/*
** Configure information about the GRAM location and size
** Set the GRAM size in bytes in GFX_MGR_GRAM_SIZE
** Set the GRAM base address in  GFX_MGR_GRAM_BASE
** Following shows example configuration for few of the
** devices assuming GRAM is fully utilized by hmi_gfx_manager
** Note : GFX_MGR02_GRAM_BASE should not be set for a WIN32 or
**        MATLAB build.
*/
#if defined(WIN32)
   #define GFX_MGR02_GRAM_SIZE      ((UINT32)(0x800000u))
#elif defined (CWR_MPC5645S)
   #define GFX_MGR02_GRAM_SIZE      ((UINT32)(0xE4A10u))
#elif defined (CWR_MPC5645S_LITE)
   #define GFX_MGR02_GRAM_SIZE      ((UINT32)(0x80000u))
#else
   #define GFX_MGR02_GRAM_SIZE      ((UINT32)(0x28000u))
#endif
#if !defined(WIN32) && !defined(MATLAB_MEX_FILE)
  #define GFX_MGR02_USER_LAYER_GRAM_BASE ((UINT32)(0x60000000u))
  #define GFX_MGR02_GRAM_BASE       ((UINT32)(0x6001B5F0u))
#endif

/*
** Frame buffer memory information for the software rendering
** layers. Following example configuration defines memory for
** 2 double buffered ARGB8888 layers of size 800x480 pixels
*/
#define GFX_MGR02_SOFTWARE_FB_SIZE     ((800 * 480 * 4 * 2) * 2)
#define GFX_MGR02_SOFTWARE_FB_ADDRESS  ((UINT32)malloc(GFX_MGR02_SOFTWARE_FB_SIZE))

/*
** Specify overlap error allowed when determining an element is hidden
** below another one. Below configurations allow a layer to be set as hidden
** eventhough GFX_MGR_ALLOWED_OVERLAP_ERROR_W pixels AND/OR GFX_MGR_ALLOWED_OVERLAP_ERROR_H
** pixels are still visible.
*/
#define GFX_MGR02_ALLOWED_OVERLAP_ERROR_W     (0)
#define GFX_MGR02_ALLOWED_OVERLAP_ERROR_H     (0)

/*
** Below configuration controls how the layer allocation needs to be
** managed. You can choose from the following configurations
** 1. LOW2HIGH
**      Layer allocation is done from low priority to high
**      priority. Allocation stops when all available layers are
**      exhausted. There is a possibility that high priority
**      screens may not be allocated layers
** 2. LOW2HIGH_RESERVE_FOR_HP_SCREEN
**      Highest active priority screen is always allocated with layers
**      Remaining layers are allocated from low priority to high
**      priority.
** 3. HIGH2LOW
**      Layer allocation is done from high priority to low
**      priority. Allocation stops when all available layers are
**      exhausted. There is a possibility that low priority
**      screens may not be allocated layers
*/
#define GFX_MGR02_LAYER_ALLOCATION_MODE     (LOW2HIGH_RESERVE_FOR_HP_SCREEN)

/*
** Specify the DMA channel to be used by the Graphics Manager for its
** building operations.
*/
#define GFX_MGR02_DMA_CHANNEL               (0)

/*
** If you are using the Sharp LQ042 display connected to the DCU, you
** can #define the "GFX_MGR02_USE_SHARP_LQ042" macro and a display setup
** function called "hmi_gfx_mgr02_driver_SetupLQ042()" will be conditionally compiled
** in and executed when appropriate.
**
** If you #define the "GFX_MGR02_USE_SHARP_LQ042" macro, a subset of
** the display timing parameters can be adjusted by configuring
** the macros shown below.  These parameters are described in detail
** in the comments in "hmi_gfx_mgr02_driver_SetupLQ042()".
** The key to configuring the timing is to ensure that the frames
** per second (FPS) update rate of the display is fast enough to meet
** your customer requirements and stays within the tolerance of the
** display itself.
**
** If you are not using that display(s) or would like different
** timing parameters, comment out "GFX_MGR02_USE_SHARP_LQ042" and
** define "GFX_MGR02_PROD_SPEC_DISPLAY_SETUP()" as a function to setup
** whatever display(s) you are using and use "hmi_gfx_mgr02_driver_SetupLQ042()"
** as an example of what you need to do.
*/

/*
**  The below configuration is to select the Sharp LQ042 display or another display.
**  If Sharp LQ042 display is selected, then define the GFX_MGR02_USE_SHARP_LQ042
**  otherwise comment this and add a function to initialise the TFT LCD display.
**  Recommended configuration for a Sharp LQ042 being driven by a DCU
**  with a 64MHz PLL clock:
*/
#ifdef WIN32
#define GFX_MGR02_USE_SHARP_LQ042
#endif
#define SHARP_LQ042_BACK_PORCH_HORIZONTAL  112
#define SHARP_LQ042_PULSE_WIDTH_HORIZONTAL 5
#define SHARP_LQ042_FRONT_PORCH_HORIZONTAL 2
#define SHARP_LQ042_BACK_PORCH_VERTICAL    29
#define SHARP_LQ042_PULSE_WIDTH_VERTICAL   2
#define SHARP_LQ042_FRONT_PORCH_VERTICAL   2
#define SHARP_LQ042_DIV_RATIO              0x0B
extern void hmi_gfx_driver_setup(void);
#define GFX_MGR02_PROD_SPEC_DISPLAY_SETUP() hmi_gfx_driver_setup()

/*
** GFX_MGR02_DONOT_REBUILD_UNCHANGED_ELEMENT - define this macro to enable
** gfx02 to perform an element changed check and based that decide whether
** to build the element again or not. If the element is not changed then
** the gfx02 will copy from the already built buffer to the new buffer rather
** than rebuilding it again.
*/
#define GFX_MGR02_DONOT_REBUILD_UNCHANGED_ELEMENT

/*
** Specify the handler for the presentation task of application.
** graphics manager will invoke this handler at the rate set for
** hmi_gfx_mgr02_if_KSTimedTask(). Application shall invoke the
** graphics manager API's in hmi_gfx_mgr02_if.h only with in the
** context of GFX_MGR02_IF_APP_PRESENTATION_TASK()
*/
#define GFX_MGR02_IF_APP_PRESENTATION_TASK() hmi_lsh_task()
#define GFX_MGR02_IF_APP_PRESENTATION_RATE   32
#define GFX_MGR02_IF_TASK_RATE               32

/*
** Define the 32-bit default background color.  Any area of the display that
** does not have an active pixel will be set to this color, and it will be
** blended with other layers if those layers have selected the alpha
** blending option.  This is the value that will be set at cold/warm/wakeup
** initialization.
**
** The MS 8-bits are ignored, the next 8-bits are the R value, then the G
** value, then the B value.
**
** Some examples:
**   0x00000000 black
**   0x00FFFFFF white
**   0x00404040 mid-gray
**   0x00FF7FFF pink
**
** The macro "GFX_MGR02_DEFAULT_BACKGROUND_COLOR" selects the background
** color for the DCU.
*/
#define GFX_MGR02_DEFAULT_BACKGROUND_COLOR  0x00000000

#define HMI_STRNLEN(x, y) HMI_STRLEN(x)

/*
** Specify a default character to be used when a character in text
** string is not present in the font database.
*/
#define GFX_MGR02_DEFAULT_CHAR  (0)


#define GFX_MGR02_VG_CACHE_SIZE  (100)
//#deifne GFX_MGR02_USER_DEFINED_INIT_MATRIX(layer_id)
#define GFX_MGR02_VG_MIRROR_OUTPUT
#define GFX_MGR02_DIRTY_REGION_REDRAW
//#define GFX_MGR02_DIRTY_REGION_REDRAW_DEBUG
//#define GFX_MGR02_DIRTY_REGION_USE_CONTEXT_BUFFER
//#define GFX02_DEBUG_DAR
//#define GFX_MGR02_OVG_USE_VG_CLEAR


#define GFX_MGR02_DCU_ENABLE_HCLIP
#define GFX_MGR02_DEDICATED_WORK_BUFFER_SIZE	 0
#define GFX_MGR02_DEDICATED_WORK_BUFFER_BASE	 0


#define GFX_MGR02_VG_RENDER_QUALITY 2

#define GFX_MGR02_USE_FREETYPE2

/*============================================================================
** E N T R Y   P O I N T S
**==========================================================================*/

/*============================================================================
** D A T A   A C C E S S   S E R V I C E S
**==========================================================================*/

/*============================================================================
**
**============================================================================
** C M S    R E V I S I O N    N O T E S
**============================================================================
**
** For each change to this file, be sure to record:
** 1.  Who made the change and when the change was made.
** 2.  Why the change was made and the intended result.
**
** CMS Rev #        Date         By
** CMS Rev X.X      mm/dd/yy     CDSID
**
**============================================================================
**
**  Rev 1.1         16-Mar-2012  ASHEKHAR
**
** CMS Rev 1.0      27-Feb-12    EMANOJ1
** Creation.
**
**==========================================================================*/
#ifdef  __cplusplus
}
#endif

/* end of file =============================================================*/
#endif
